In [1]:
import pandas as pd
import os

In [6]:
df_gdp = pd.read_csv("raw/GDP/gdp.csv", sep=';')

# Keep only the 'Country' and 'Last' (GDP per capita) columns
df_gdp_cleaned = df_gdp[['Country', 'Last']]

# Display the cleaned DataFrame
df_gdp_cleaned

# Save the cleaned data to a new CSV file
output_file = "data/gdp_cleaned.csv"
df_gdp_cleaned.to_csv(output_file, index=False)

df_gdp_cleaned

                   Country    Last
0               Luxembourg  132414
1                  Ireland  115625
2                   Norway   90501
3              Switzerland   82914
4                  Denmark   72034
5              Netherlands   69336
6                  Iceland   66451
7                  Austria   64644
8                   Sweden   64191
9                  Belgium   63572
10                 Germany   61909
11                 Finland   57506
12                   Malta   57230
13               Euro Area   55835
14                  France   55214
15          United Kingdom   54126
16          European Union   53789
17                   Italy   52700
18                  Cyprus   50578
19                Slovenia   48109
20          Czech Republic   47731
21                   Spain   46357
22               Lithuania   46210
23                  Poland   44051
24                 Estonia   41998
25                Portugal   41710
26                 Croatia   41344
27                 Hungary   40554
28                 Romania   40518
29                  Russia   39753
30                Slovakia   39260
31                  Latvia   37813
32                  Greece   36268
33                  Turkey   34414
34                Bulgaria   33289
35              Montenegro   27776
36                 Belarus   27718
37                  Serbia   24511
38               Macedonia   23424
39  Bosnia and Herzegovina   19860
40                 Albania   18060
41                 Ukraine   16231
42                 Moldova   15670
43                  Kosovo   13547