In [1]:
import pandas as pd
import os

In [6]:
file_path = "raw/Obesity/obesity_raw.xlsx"  # Replace with your actual file path
df_obesity = pd.read_excel(file_path)

# Inspect the first few rows and column names
df_obesity

      BMI (Labels)  Overweight  Obese
0            Malta        62.0  25.80
1          Finland        59.5  21.90
2           Latvia        59.2  22.80
3          Romania        58.9  10.10
4        Lithuania        58.5  20.30
5           Poland        57.8  18.40
6          Hungary        57.5  21.80
7         Slovakia        57.5  16.80
8          Croatia        57.2  16.50
9          Türkiye        57.1  19.50
10         Albania        56.5  12.40
11         Estonia        56.4  21.70
12         Czechia        55.4  17.40
13        Slovenia        55.4  17.80
14          Greece        54.4  11.80
15         Denmark        54.0  19.20
16        Bulgaria        52.9  11.50
17          Norway        52.8  16.60
18          Sweden        52.7  17.00
19        Portugal        52.3  15.60
20         Ireland        52.2  19.40
21         Austria        51.8  17.40
22          Serbia        51.8  11.50
23           Spain        50.4  14.70
24      Luxembourg        49.4  16.90
25         Belgium        48.2  15.50
26     Netherlands        47.8  13.60
27          Cyprus        47.3  13.30
28      Montenegro        47.0   7.60
29          France        45.4  14.80
30     Switzerland        45.2  13.40
31           Italy        41.3   7.00
32         Germany        54.8  19.00
33         Iceland        57.4  22.59
34  United Kingdom        59.1  24.70