# DOPP Ex 2 - Question 28 - Food in the EU

## 1. Intro

In [ ]:
Add our names, student numbers etc

Maybe do some intro to the topic?

introduce datasets, challenges finding the sets, then explain we had to change some datasets after the first discussion do to issues

## 2. Preprocessing datasets

### 2.1 Loading and cleaning import/export data

The Import/Export data is available for use in separate files, each file contains the data for EU conuntries for a separate year. Therefore the first step is to merge these files into a dataset. Since they all follow the same format, this is not a complicated task.

In [32]:
import pandas as pd

#Load all files into a separate df
df_impexp= pd.read_csv('./raw/Exports and Imports/FAOSTAT_data_en_1-26-2025.csv')

In order to answer our defined questions, the best format for the data would be a df where each country has a row for each year and each food category is in a separate column. This way we can make more meaningful data exploration and the data would be in a format that is more suitable to analyze the changes within countries over the years and also between countries over the years. Another interesting topic could be differences based on geography. For example to compare countries with access and without access to see. Since this study is only focusing on food, we can drop the Domain column as it holds no new information to us.

In [ ]:
import pandas as pd

def reshape_trade_data(df):
    # Create the pivot table with multi-index columns so that each item gets a separate column with four values
    pivot = pd.pivot_table(
        df,
        values='Value',
        index=['Year', 'Area'],
        columns=['Item', 'Element'],
        aggfunc='first',
        fill_value=0
    )
    
    # Reset index to make Year and Area regular columns
    pivot = pivot.reset_index()
    
    return pivot

# Usage
df_result = reshape_trade_data(df_impexp)
df_result.to_csv('./processed/reshaped_trade_data.csv', index=False)

Item     Year                                               Area  \
Element
0        2000                                            Albania
1        2000                                            Austria
2        2000                                            Belarus
3        2000                                            Belgium
4        2000                             Bosnia and Herzegovina
..        ...                                                ...
949      2023                                              Spain
950      2023                                             Sweden
951      2023                                        Switzerland
952      2023                                            Ukraine
953      2023  United Kingdom of Great Britain and Northern I...

Item    Alcoholic Beverages                                            \
Element     Export quantity Export value Import quantity Import value
0                     26.00        35.00        33354.00     12533.00
1                  90143.94     77874.50       128485.54    207982.98
2                  57176.81     29353.16        29365.93     41766.63
3                 525388.75    598481.10       516822.85   1001198.63
4                    806.00       662.00        44800.00     20000.00
..                      ...          ...             ...          ...
949              2781001.59   4724103.85       877694.66   1999216.03
950               267489.67    699991.35       391660.29   1270817.05
951                 5991.15    126902.83       294902.31   1753383.81
952               115735.45    103607.60       232922.00    606446.77
953              1531012.85   9758392.16      2572362.02   7223614.87

Item    Animal Fats and Oils (excl. Butter)                               \
Element                     Export quantity Export value Import quantity
0                                      0.00         0.00         2026.00
1                                  40900.00      7053.97        17564.00
2                                      0.00         0.00         7525.00
3                                 125288.00     64688.79       198198.00
4                                      0.00         0.00         1510.00
..                                      ...          ...             ...
949                               265433.92    500480.50       130085.85
950                               165773.37    400114.30        42158.34
951                                10813.48     64266.73        14587.79
952                                12307.67     28104.24        39219.78
953                                70904.85    111934.93        81819.98

Item                  ... Sugar and Honey              Vegetable Oil and Fat  \
Element Import value  ... Import quantity Import value       Export quantity
0             726.00  ...        59993.00     15406.00                 39.00
1           10439.57  ...       346655.00    144864.15              60547.00
2            5085.00  ...       515674.00    128514.00              11041.00
3           70438.04  ...      1278410.00    486407.90            1094152.00
4            1210.00  ...        76705.00     22475.00               8000.00
..               ...  ...             ...          ...                   ...
949        180391.02  ...      2063890.19   1895987.82            1761516.90
950         94997.02  ...       217622.95    573929.79             147668.24
951         36736.04  ...       217289.90    416452.80               2376.16
952         75057.89  ...        28190.77     99173.59            6422791.71
953        194596.63  ...      2132572.15   2424819.45             192297.67

Item                                                   Vegetables  \
Element Export value Import quantity Import value Export quantity
0              45.00        35803.00     20150.00          789.00
1           31219.85       106204.00     68150.16       138774.00
2            8799.60        91570.00     70298.00        39305.00
3          582868.96       996817.00    491119.35      1843019.00
4            8500.00        61229.00     54193.00         1623.00
..               ...             ...          ...             ...
949       6499511.23      3000174.19   4558759.01      6860335.85
950        362755.04       655655.32    992288.74        72681.28
951          8184.11       131409.69    430363.24         6254.56
952       5583485.81       129787.67    195921.22        28084.55
953        358944.50      1198091.54   2121358.34       216443.35

Item
Element Export value Import quantity Import value
0             514.00        21762.00      6589.00
1           82134.06       327111.20    307966.59
2           23043.19        34685.00     21258.00
3         1264588.71      1330753.00    700342.41
4            4050.00        20570.00      8710.00
..               ...             ...          ...
949      12177130.88      1705646.64   2678082.38
950        219295.69       644367.39   1287271.24
951         31844.45       404387.87   1193296.08
952         52334.68       386828.17    517453.37
953        481962.32      3690455.11   6697982.74

[954 rows x 96 columns]

In [35]:
unique_countries = pivoted_df['Area'].unique()
unique_countries

array(['Albania', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands (Kingdom of the)', 'North Macedonia', 'Norway',
       'Poland', 'Portugal', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Serbia and Montenegro', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
       'United Kingdom of Great Britain and Northern Ireland',
       'Montenegro', 'Serbia'], dtype=object)

## 3. Exploratory analysis

idk add code and texts

## 4. Training models to answer some questions + Eval

When we first looked through the available datasets, we wanted to pick topics that would be both meaningful to analyze and feasible with machine learning. The diabetes risk analysis caught our attention since it connects food consumption patterns to public health outcomes - something that affects millions of people worldwide. For our second topic, we chose to build a regression model for GDP per capita prediction, as it seemed to be an interesting challenge to find some correlation between the food consumption/food related health issues and the economic strength of the countries. Though we hadn't done deep analysis yet, both datasets seemed to have good quality data and enough variables to work with. We basically tried to find a sweet spot between picking important real-world problems and making sure we had enough solid data to actually build useful models.

The first topic is related to the fifth question about the risk of diabetes in relation to food
consumption.

### 4.1 Load the data forthe food related ML shit

In [ ]:
import pandas as pd

life_food = pd.read_csv('./data/final/life_food.csv')
life_food

,geo,TIME_PERIOD,sex,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,life_expectancy
0,Austria,2010,Females,Alcoholic beverages,1.947294,3.575471,0.000000,0.000000,0.280000,9.163000,10.997647,13.919059,83.5
1,Austria,2010,Females,Animal and vegetable fats and oils and primary...,0.409974,0.340208,0.032057,0.055547,0.333906,0.984349,1.160260,1.413906,83.5
2,Austria,2010,Females,"Coffee, cocoa, tea and infusions",5.094759,4.539578,0.322410,0.375572,3.945813,13.629217,15.740271,19.433343,83.5
3,Austria,2010,Females,Composite dishes,3.111088,2.397241,0.035172,0.496737,2.744218,7.685544,8.503422,9.751645,83.5
4,Austria,2010,Females,Eggs and egg products,0.322270,0.441656,0.000000,0.000000,0.158466,1.202699,1.291902,1.522515,83.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667,United Kingdom,2011,Males,"Seasoning, sauces and condiments",0.528884,0.956948,0.000000,0.000000,0.137267,2.337289,3.032118,4.047449,79.0
2668,United Kingdom,2011,Males,"Starchy roots or tubers and products thereof, ...",2.644138,2.912759,0.000000,0.000000,1.813793,8.179655,9.726207,12.794483,79.0
2669,United Kingdom,2011,Males,"Sugar and similar, confectionery and water-bas...",0.391207,0.850000,0.000000,0.000000,0.074976,1.827308,2.761191,3.705171,79.0
2670,United Kingdom,2011,Males,Vegetables and vegetable products,3.796339,3.931466,0.000000,0.106760,2.805803,11.865891,13.949526,17.654372,79.0
2671,United Kingdom,2011,Males,Water and water-based beverages,18.527487,17.263262,1.223422,2.964385,14.389251,47.394973,61.513957,87.076096,79.0

In [7]:
# 2. Group by (TIME_PERIOD, geo) to find the set of sexes for each (year, country)
df_sex_sets = (
    life_food
    .groupby(['TIME_PERIOD', 'geo'])['sex']
    .apply(set)              # e.g. {'Males'}, {'Females'}, or {'Males', 'Females'}
    .reset_index(name='sex_set')
)

# 3. Define a helper function to label the sex category based on the set
def label_sex_category(sex_set):
    if sex_set == {'Males'}:
        return 'Male'
    elif sex_set == {'Females'}:
        return 'Female'
    elif sex_set == {'Males', 'Females'}:
        return 'Combined'
    else:
        # Optional: handle unexpected cases, e.g. empty set or something else
        return 'Other'

df_sex_sets['sex_category'] = df_sex_sets['sex_set'].apply(label_sex_category)

# 4. For each year, gather the countries in each category into lists
result = (
    df_sex_sets
    .groupby('TIME_PERIOD')
    .apply(lambda g: pd.Series({
        'Male': list(g.loc[g['sex_category'] == 'Male', 'geo'].unique()),
        'Female': list(g.loc[g['sex_category'] == 'Female', 'geo'].unique()),
        'Combined': list(g.loc[g['sex_category'] == 'Combined', 'geo'].unique())
    }))
    .reset_index()
)

# 5. (Optional) Rename the TIME_PERIOD column to "Year" for clarity
result.rename(columns={'TIME_PERIOD': 'Year'}, inplace=True)

# Show the final DataFrame
result

C:\Users\Marci\AppData\Local\Temp\ipykernel_13128\500446393.py:27: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: pd.Series({

    Year Male     Female                                           Combined
0   1997   []         []                                  [Ireland, Sweden]
1   1998   []         []                                            [Spain]
2   1999   []         []                                            [Spain]
3   2000   []         []                 [Denmark, Finland, United Kingdom]
4   2001   []         []                                 [Finland, Germany]
5   2002   []         []                                          [Belgium]
6   2003   []         []  [Cyprus, Czechia, Finland, Hungary, Netherland...
7   2004   []         []                           [Belgium, Greece, Spain]
8   2005   []   [Greece]                                   [Denmark, Italy]
9   2006   []         []                    [Denmark, Germany, Netherlands]
10  2007   []         []  [Bulgaria, Finland, France, Germany, Netherlands]
11  2008   []         []                  [Ireland, Latvia, United Kingdom]
12  2009   []         []                                            [Spain]
13  2010   []         []                     [Austria, Netherlands, Sweden]
14  2011   []   [Latvia]                          [Croatia, United Kingdom]
15  2012   []         []     [Finland, Latvia, Netherlands, Romania, Spain]
16  2013   []         []                                   [Estonia, Spain]
17  2014   []         []         [Austria, Belgium, Cyprus, France, Greece]
18  2015   []         []                                         [Portugal]
19  2016   []  [Austria]                                           [Sweden]
20  2017   []         []     [Finland, Italy, Montenegro, Serbia, Slovenia]
21  2018   []         []                          [Austria, Hungary, Italy]
22  2019   []         []     [Croatia, Montenegro, Poland, Romania, Serbia]
23  2021   []         []                                          [Croatia]

In [8]:
# 2. For each (country, year), determine the set of sexes
df_sex_sets = (
    life_food
    .groupby(['geo', 'TIME_PERIOD'])['sex']
    .apply(set)  # e.g. {'Males'}, {'Females'}, or {'Males','Females'}
    .reset_index(name='sex_set')
)

# 3. Filter to keep only the rows where both Males and Females are present
df_combined_only = df_sex_sets[df_sex_sets['sex_set'] == {'Males', 'Females'}]

# 4. Group by 'geo' and collect all years that meet the condition
df_result = (
    df_combined_only
    .groupby('geo')['TIME_PERIOD']
    .apply(list)
    .reset_index(name='years_with_combined_data')
)

# Show the final DataFrame
print(df_result)

               geo              years_with_combined_data
0          Austria                    [2010, 2014, 2018]
1          Belgium                    [2002, 2004, 2014]
2         Bulgaria                                [2007]
3          Croatia                    [2011, 2019, 2021]
4           Cyprus                          [2003, 2014]
5          Czechia                                [2003]
6          Denmark                    [2000, 2005, 2006]
7          Estonia                                [2013]
8          Finland  [2000, 2001, 2003, 2007, 2012, 2017]
9           France                          [2007, 2014]
10         Germany                    [2001, 2006, 2007]
11          Greece                          [2004, 2014]
12         Hungary                          [2003, 2018]
13         Ireland                          [1997, 2008]
14           Italy                    [2005, 2017, 2018]
15          Latvia                          [2008, 2012]
16      Montenegro                          [2017, 2019]
17     Netherlands        [2003, 2006, 2007, 2010, 2012]
18          Poland                                [2019]
19        Portugal                                [2015]
20         Romania                          [2012, 2019]
21          Serbia                          [2017, 2019]
22        Slovenia                                [2017]
23           Spain  [1998, 1999, 2004, 2009, 2012, 2013]
24          Sweden              [1997, 2003, 2010, 2016]
25  United Kingdom                    [2000, 2008, 2011]

Based on these tables the we can see that the data is not consistent, it is in really bad condition. On the other hand we can select a few countries and years that have more data than otheres, and can try to come up with some new questions that we might be able to answer.
The most interesting countries are:
- Finland
- Netherlands
- Spain
- Sweden

The years with most data are:
- 2003
- 2007
- 2012
- 2017
- 2019

In [5]:
diabetes_food = pd.read_csv('./data/final/diabetes_food.csv')
diabetes_food

,sex,geo,TIME_PERIOD,deaths_out_of_100k,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile
0,Females,Austria,2014,32.88,Alcoholic beverages,1.230000,2.480000,0.000000,0.000000,0.000000,5.630000,8.210000,11.450000
1,Females,Austria,2014,32.88,Animal and vegetable fats and oils and primary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Females,Austria,2014,32.88,"Coffee, cocoa, tea and infusions",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Females,Austria,2014,32.88,Composite dishes,0.530000,1.020000,0.000000,0.000000,0.000000,2.560000,3.570000,4.710000
4,Females,Austria,2014,32.88,Eggs and egg products,0.310000,0.440000,0.000000,0.000000,0.110000,1.140000,1.470000,1.910000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,Males,United Kingdom,2011,12.56,"Seasoning, sauces and condiments",0.528884,0.956948,0.000000,0.000000,0.137267,2.337289,3.032118,4.047449
1158,Males,United Kingdom,2011,12.56,"Starchy roots or tubers and products thereof, ...",2.644138,2.912759,0.000000,0.000000,1.813793,8.179655,9.726207,12.794483
1159,Males,United Kingdom,2011,12.56,"Sugar and similar, confectionery and water-bas...",0.391207,0.850000,0.000000,0.000000,0.074976,1.827308,2.761191,3.705171
1160,Males,United Kingdom,2011,12.56,Vegetables and vegetable products,3.796339,3.931466,0.000000,0.106760,2.805803,11.865891,13.949526,17.654372
1161,Males,United Kingdom,2011,12.56,Water and water-based beverages,18.527487,17.263262,1.223422,2.964385,14.389251,47.394973,61.513957,87.076096

In [6]:
obesity_food = pd.read_csv('./data/final/obesity_food.csv')
obesity_food

,sex,geo,TIME_PERIOD,obesity_percentage,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile
0,Females,Finland,2017,35.1,Alcoholic beverages,0.773147,2.189442,0.000000,0.000000,0.000000,4.609543,7.046193,10.210305
1,Females,Finland,2017,35.1,"Amphibians, reptiles, and terrestrial inverteb...",0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Females,Finland,2017,35.1,Animal and vegetable fats and oils and primary...,0.357128,0.251384,0.045744,0.085744,0.317128,0.821279,0.992663,1.144047
3,Females,Finland,2017,35.1,"Coffee, cocoa, tea and infusions",7.812036,4.923349,1.339692,2.814485,6.994982,16.543941,20.342935,24.609917
4,Females,Finland,2017,35.1,Composite dishes,0.099432,0.337102,0.000000,0.000000,0.000000,0.620114,0.976648,1.286648
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4015,Males,Slovenia,2017,1.1,"Seasoning, sauces and condiments",0.310197,0.653862,0.008742,0.021171,0.089661,1.451619,2.319562,3.419628
4016,Males,Slovenia,2017,1.1,"Starchy roots or tubers and products thereof, ...",1.626212,1.764161,0.000000,0.000000,1.255065,4.937116,6.032410,6.560990
4017,Males,Slovenia,2017,1.1,"Sugar and similar, confectionery and water-bas...",0.241502,0.446955,0.000000,0.000000,0.053992,1.032160,1.617016,2.113519
4018,Males,Slovenia,2017,1.1,Vegetables and vegetable products,2.771213,2.208702,0.360819,0.542340,2.255436,7.236340,8.304032,9.361936
4019,Males,Slovenia,2017,1.1,Water and water-based beverages,15.362355,11.728699,1.591645,2.831699,12.646484,37.518204,44.476247,53.652731

## 4.2 Load data for the GDP related ML shit

In [14]:
quantity_food = pd.read_csv('./data/final/quantity_food.csv')
quantity_food

,geo,TIME_PERIOD,sex,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,Imported quantity,Exported quantity
0,Austria,2010,Females,Alcoholic beverages,1.947294,3.575471,0.000000,0.000000,0.280000,9.163000,10.997647,13.919059,174183.00,152650.00
1,Austria,2010,Females,Animal and vegetable fats and oils and primary...,0.409974,0.340208,0.032057,0.055547,0.333906,0.984349,1.160260,1.413906,525682.00,283082.00
2,Austria,2010,Females,"Coffee, cocoa, tea and infusions",5.094759,4.539578,0.322410,0.375572,3.945813,13.629217,15.740271,19.433343,94578.00,29286.00
3,Austria,2010,Females,Composite dishes,3.111088,2.397241,0.035172,0.496737,2.744218,7.685544,8.503422,9.751645,424667.00,478336.00
4,Austria,2010,Females,Eggs and egg products,0.322270,0.441656,0.000000,0.000000,0.158466,1.202699,1.291902,1.522515,30094.00,8838.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,Sweden,2016,Males,"Seasoning, sauces and condiments",0.810000,0.970000,0.000000,0.030000,0.470000,2.340000,3.780000,4.210000,42027.15,2409.15
1999,Sweden,2016,Males,"Starchy roots or tubers and products thereof, ...",2.060000,2.750000,0.000000,0.000000,1.390000,6.270000,9.040000,10.770000,323593.12,15602.43
2000,Sweden,2016,Males,"Sugar and similar, confectionery and water-bas...",0.522399,1.592543,0.000000,0.000000,0.000704,2.567787,3.822026,5.849770,232870.30,221299.15
2001,Sweden,2016,Males,Vegetables and vegetable products,2.470000,2.060000,0.410000,0.540000,1.770000,6.420000,7.790000,8.650000,529495.56,227915.41
2002,Sweden,2016,Males,Water and water-based beverages,14.460000,8.690000,1.680000,3.660000,14.500000,28.860000,34.820000,37.530000,292117.82,88937.07

In [16]:
gdp_food = pd.read_csv('./data/final/gdp_food.csv')
gdp_food

,geo,TIME_PERIOD,sex,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,gdp_per_capita
0,Austria,2014,Females,Alcoholic beverages,1.230000,2.480000,0.00,0.00,0.000000,5.630000,8.210000,11.45000,129
1,Austria,2014,Females,Animal and vegetable fats and oils and primary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129
2,Austria,2014,Females,"Coffee, cocoa, tea and infusions",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129
3,Austria,2014,Females,Composite dishes,0.530000,1.020000,0.00,0.00,0.000000,2.560000,3.570000,4.71000,129
4,Austria,2014,Females,Eggs and egg products,0.310000,0.440000,0.00,0.00,0.110000,1.140000,1.470000,1.91000,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Sweden,2016,Males,"Seasoning, sauces and condiments",0.810000,0.970000,0.00,0.03,0.470000,2.340000,3.780000,4.21000,123
1180,Sweden,2016,Males,"Starchy roots or tubers and products thereof, ...",2.060000,2.750000,0.00,0.00,1.390000,6.270000,9.040000,10.77000,123
1181,Sweden,2016,Males,"Sugar and similar, confectionery and water-bas...",0.522399,1.592543,0.00,0.00,0.000704,2.567787,3.822026,5.84977,123
1182,Sweden,2016,Males,Vegetables and vegetable products,2.470000,2.060000,0.41,0.54,1.770000,6.420000,7.790000,8.65000,123
1183,Sweden,2016,Males,Water and water-based beverages,14.460000,8.690000,1.68,3.66,14.500000,28.860000,34.820000,37.53000,123

In [17]:
gdp_quantity = pd.read_csv('./data/final/gdp_quantity.csv')
gdp_quantity

,geo,TIME_PERIOD,gdp_per_capita,Imported quantity,Exported quantity,Food Category
0,Albania,2012,30,33539.00,1055.00,Alcoholic beverages
1,Albania,2012,30,0.00,0.00,"Amphibians, reptiles, and terrestrial inverteb..."
2,Albania,2012,30,44965.00,1595.00,Animal and vegetable fats and oils and primary...
3,Albania,2012,30,7159.00,33.00,"Coffee, cocoa, tea and infusions"
4,Albania,2012,30,32278.00,1823.00,Composite dishes
...,...,...,...,...,...,...
7263,Slovakia,2022,71,27320.17,2636.52,"Seasoning, sauces and condiments"
7264,Slovakia,2022,71,139305.03,133010.92,"Starchy roots or tubers and products thereof, ..."
7265,Slovakia,2022,71,182229.63,269151.79,"Sugar and similar, confectionery and water-bas..."
7266,Slovakia,2022,71,231619.67,50052.84,Vegetables and vegetable products
7267,Slovakia,2022,71,524546.56,319503.77,Water and water-based beverages

## 5. Answer the questions we have lsited, if they are already answered before, then we can just sum it up here

## 6. Conclusions, challenges, fuck knows