# DOPP Ex 2 - Question 28 - Food in the EU

## 1. Intro

Add our names, student numbers etc

Maybe do some intro to the topic?

introduce datasets, challenges finding the sets, then explain we had to change some datasets after the first discussion do to issues

## 2. Preprocessing datasets

### 2.1 Loading and cleaning import/export dataset

The Import/Export data is available for use in separate files, each file contains the data for EU conuntries for a separate year. Therefore the first step is to merge these files into a dataset. Since they all follow the same format, this is not a complicated task.

In [1]:
import pandas as pd

#Load all files into a separate df
df_trade = pd.read_csv('./raw/Exports and Imports/FAOSTAT_data_en_1-26-2025.csv')

In order to answer our defined questions, the best format for the data would be a df where each country has a row for each year and each food category is in a separate column. This way we can make more meaningful data exploration and the data would be in a format that is more suitable to analyze the changes within countries over the years and also between countries over the years. Another interesting topic could be differences based on geography. For example to compare countries with access and without access to see. Since this study is only focusing on food, we can drop the Domain column as it holds no new information to us.

In [2]:
import pandas as pd

# Create the pivot table with multi-index columns so that each item gets a separate column with four values
df_pivot_trade = pd.pivot_table(
    df_trade,
    values='Value',
    index=['Year', 'Area'],
    columns=['Item', 'Element'],
    aggfunc='first',
    fill_value=0
)

# If you don't need the multi-index, jsut uncomment this and run the cell again
# Reset index to make Year and Area regular columns
# df_pivot_trade = df_pivot_trade.reset_index()

df_pivot_trade.to_csv('./data/processed_trade_data.csv', index=False)
df_pivot_trade

Item                                                    Alcoholic Beverages  \
Element                                                     Export quantity
Year Area
2000 Albania                                                          26.00
     Austria                                                       90143.94
     Belarus                                                       57176.81
     Belgium                                                      525388.75
     Bosnia and Herzegovina                                          806.00
...                                                                     ...
2023 Spain                                                       2781001.59
     Sweden                                                       267489.67
     Switzerland                                                    5991.15
     Ukraine                                                      115735.45
     United Kingdom of Great Britain and Northern Ir...          1531012.85

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                   35.00
     Austria                                                77874.50
     Belarus                                                29353.16
     Belgium                                               598481.10
     Bosnia and Herzegovina                                   662.00
...                                                              ...
2023 Spain                                                4724103.85
     Sweden                                                699991.35
     Switzerland                                           126902.83
     Ukraine                                               103607.60
     United Kingdom of Great Britain and Northern Ir...   9758392.16

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                   33354.00
     Austria                                                  128485.54
     Belarus                                                   29365.93
     Belgium                                                  516822.85
     Bosnia and Herzegovina                                    44800.00
...                                                                 ...
2023 Spain                                                    877694.66
     Sweden                                                   391660.29
     Switzerland                                              294902.31
     Ukraine                                                  232922.00
     United Kingdom of Great Britain and Northern Ir...      2572362.02

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                12533.00
     Austria                                               207982.98
     Belarus                                                41766.63
     Belgium                                              1001198.63
     Bosnia and Herzegovina                                 20000.00
...                                                              ...
2023 Spain                                                1999216.03
     Sweden                                               1270817.05
     Switzerland                                          1753383.81
     Ukraine                                               606446.77
     United Kingdom of Great Britain and Northern Ir...   7223614.87

Item                                                    Animal Fats and Oils (excl. Butter)  \
Element                                                                     Export quantity
Year Area
2000 Albania                                                                           0.00
     Austria                                                                       40900.00
     Belarus                                                                           0.00
     Belgium                                                                      125288.00
     Bosnia and Herzegovina                                                            0.00
...                                                                                     ...
2023 Spain                                                                        265433.92
     Sweden                                                                       165773.37
     Switzerland                                                                   10813.48
     Ukraine                                                                       12307.67
     United Kingdom of Great Britain and Northern Ir...                            70904.85

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                    0.00
     Austria                                                 7053.97
     Belarus                                                    0.00
     Belgium                                                64688.79
     Bosnia and Herzegovina                                     0.00
...                                                              ...
2023 Spain                                                 500480.50
     Sweden                                                400114.30
     Switzerland                                            64266.73
     Ukraine                                                28104.24
     United Kingdom of Great Britain and Northern Ir...    111934.93

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                    2026.00
     Austria                                                   17564.00
     Belarus                                                    7525.00
     Belgium                                                  198198.00
     Bosnia and Herzegovina                                     1510.00
...                                                                 ...
2023 Spain                                                    130085.85
     Sweden                                                    42158.34
     Switzerland                                               14587.79
     Ukraine                                                   39219.78
     United Kingdom of Great Britain and Northern Ir...        81819.98

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                  726.00
     Austria                                                10439.57
     Belarus                                                 5085.00
     Belgium                                                70438.04
     Bosnia and Herzegovina                                  1210.00
...                                                              ...
2023 Spain                                                 180391.02
     Sweden                                                 94997.02
     Switzerland                                            36736.04
     Ukraine                                                75057.89
     United Kingdom of Great Britain and Northern Ir...    194596.63

Item                                                          Beverages  \
Element                                                 Export quantity
Year Area
2000 Albania                                                    3510.00
     Austria                                                  564449.14
     Belarus                                                   78876.81
     Belgium                                                 1434286.25
     Bosnia and Herzegovina                                     2421.00
...                                                                 ...
2023 Spain                                                   3803521.51
     Sweden                                                   481953.93
     Switzerland                                             2661656.62
     Ukraine                                                  307577.54
     United Kingdom of Great Britain and Northern Ir...      2291373.22

Item                                                                  ...  \
Element                                                 Export value  ...
Year Area                                                             ...
2000 Albania                                                 1030.00  ...
     Austria                                               644552.82  ...
     Belarus                                                32653.16  ...
     Belgium                                              1001300.20  ...
     Bosnia and Herzegovina                                  1888.00  ...
...                                                              ...  ...
2023 Spain                                                5519827.85  ...
     Sweden                                                948973.10  ...
     Switzerland                                          1724094.98  ...
     Ukraine                                               197296.70  ...
     United Kingdom of Great Britain and Northern Ir...  10547446.63  ...

Item                                                    Sugar and Honey  \
Element                                                 Import quantity
Year Area
2000 Albania                                                   59993.00
     Austria                                                  346655.00
     Belarus                                                  515674.00
     Belgium                                                 1278410.00
     Bosnia and Herzegovina                                    76705.00
...                                                                 ...
2023 Spain                                                   2063890.19
     Sweden                                                   217622.95
     Switzerland                                              217289.90
     Ukraine                                                   28190.77
     United Kingdom of Great Britain and Northern Ir...      2132572.15

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                15406.00
     Austria                                               144864.15
     Belarus                                               128514.00
     Belgium                                               486407.90
     Bosnia and Herzegovina                                 22475.00
...                                                              ...
2023 Spain                                                1895987.82
     Sweden                                                573929.79
     Switzerland                                           416452.80
     Ukraine                                                99173.59
     United Kingdom of Great Britain and Northern Ir...   2424819.45

Item                                                    Vegetable Oil and Fat  \
Element                                                       Export quantity
Year Area
2000 Albania                                                            39.00
     Austria                                                         60547.00
     Belarus                                                         11041.00
     Belgium                                                       1094152.00
     Bosnia and Herzegovina                                           8000.00
...                                                                       ...
2023 Spain                                                         1761516.90
     Sweden                                                         147668.24
     Switzerland                                                      2376.16
     Ukraine                                                       6422791.71
     United Kingdom of Great Britain and Northern Ir...             192297.67

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                   45.00
     Austria                                                31219.85
     Belarus                                                 8799.60
     Belgium                                               582868.96
     Bosnia and Herzegovina                                  8500.00
...                                                              ...
2023 Spain                                                6499511.23
     Sweden                                                362755.04
     Switzerland                                             8184.11
     Ukraine                                              5583485.81
     United Kingdom of Great Britain and Northern Ir...    358944.50

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                   35803.00
     Austria                                                  106204.00
     Belarus                                                   91570.00
     Belgium                                                  996817.00
     Bosnia and Herzegovina                                    61229.00
...                                                                 ...
2023 Spain                                                   3000174.19
     Sweden                                                   655655.32
     Switzerland                                              131409.69
     Ukraine                                                  129787.67
     United Kingdom of Great Britain and Northern Ir...      1198091.54

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                20150.00
     Austria                                                68150.16
     Belarus                                                70298.00
     Belgium                                               491119.35
     Bosnia and Herzegovina                                 54193.00
...                                                              ...
2023 Spain                                                4558759.01
     Sweden                                                992288.74
     Switzerland                                           430363.24
     Ukraine                                               195921.22
     United Kingdom of Great Britain and Northern Ir...   2121358.34

Item                                                         Vegetables  \
Element                                                 Export quantity
Year Area
2000 Albania                                                     789.00
     Austria                                                  138774.00
     Belarus                                                   39305.00
     Belgium                                                 1843019.00
     Bosnia and Herzegovina                                     1623.00
...                                                                 ...
2023 Spain                                                   6860335.85
     Sweden                                                    72681.28
     Switzerland                                                6254.56
     Ukraine                                                   28084.55
     United Kingdom of Great Britain and Northern Ir...       216443.35

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                  514.00
     Austria                                                82134.06
     Belarus                                                23043.19
     Belgium                                              1264588.71
     Bosnia and Herzegovina                                  4050.00
...                                                              ...
2023 Spain                                               12177130.88
     Sweden                                                219295.69
     Switzerland                                            31844.45
     Ukraine                                                52334.68
     United Kingdom of Great Britain and Northern Ir...    481962.32

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                   21762.00
     Austria                                                  327111.20
     Belarus                                                   34685.00
     Belgium                                                 1330753.00
     Bosnia and Herzegovina                                    20570.00
...                                                                 ...
2023 Spain                                                   1705646.64
     Sweden                                                   644367.39
     Switzerland                                              404387.87
     Ukraine                                                  386828.17
     United Kingdom of Great Britain and Northern Ir...      3690455.11

Item
Element                                                 Import value
Year Area
2000 Albania                                                 6589.00
     Austria                                               307966.59
     Belarus                                                21258.00
     Belgium                                               700342.41
     Bosnia and Herzegovina                                  8710.00
...                                                              ...
2023 Spain                                                2678082.38
     Sweden                                               1287271.24
     Switzerland                                          1193296.08
     Ukraine                                               517453.37
     United Kingdom of Great Britain and Northern Ir...   6697982.74

[954 rows x 94 columns]

In [3]:
# Reset index to make Year and Area regular columns
df_pivot_trade_reset = df_pivot_trade.reset_index()

# Get unique countries
unique_countries = df_pivot_trade_reset['Area'].unique()
unique_countries

array(['Albania', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands (Kingdom of the)', 'North Macedonia', 'Norway',
       'Poland', 'Portugal', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Serbia and Montenegro', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
       'United Kingdom of Great Britain and Northern Ireland',
       'Montenegro', 'Serbia'], dtype=object)

In [4]:
df_pivot_trade_reset.head()

Item     Year                    Area Alcoholic Beverages               \
Element                                   Export quantity Export value
0        2000                 Albania               26.00        35.00
1        2000                 Austria            90143.94     77874.50
2        2000                 Belarus            57176.81     29353.16
3        2000                 Belgium           525388.75    598481.10
4        2000  Bosnia and Herzegovina              806.00       662.00

Item                                 Animal Fats and Oils (excl. Butter)  \
Element Import quantity Import value                     Export quantity
0              33354.00     12533.00                                 0.0
1             128485.54    207982.98                             40900.0
2              29365.93     41766.63                                 0.0
3             516822.85   1001198.63                            125288.0
4              44800.00     20000.00                                 0.0

Item                                               ... Sugar and Honey  \
Element Export value Import quantity Import value  ... Import quantity
0               0.00          2026.0       726.00  ...         59993.0
1            7053.97         17564.0     10439.57  ...        346655.0
2               0.00          7525.0      5085.00  ...        515674.0
3           64688.79        198198.0     70438.04  ...       1278410.0
4               0.00          1510.0      1210.00  ...         76705.0

Item                 Vegetable Oil and Fat                               \
Element Import value       Export quantity Export value Import quantity
0           15406.00                  39.0        45.00         35803.0
1          144864.15               60547.0     31219.85        106204.0
2          128514.00               11041.0      8799.60         91570.0
3          486407.90             1094152.0    582868.96        996817.0
4           22475.00                8000.0      8500.00         61229.0

Item                      Vegetables
Element Import value Export quantity Export value Import quantity Import value
0           20150.00           789.0       514.00         21762.0      6589.00
1           68150.16        138774.0     82134.06        327111.2    307966.59
2           70298.00         39305.0     23043.19         34685.0     21258.00
3          491119.35       1843019.0   1264588.71       1330753.0    700342.41
4           54193.00          1623.0      4050.00         20570.0      8710.00

[5 rows x 96 columns]

### 2.2 Loading and cleaning life expectancy dataset

In [5]:
#Load all files into a separate df
df_life = pd.read_csv('./raw/Life Expectancy/demo_mlexp.csv', encoding='cp1252', sep=';', na_values=[''])
df_life.head()

,TIME,2000,Unnamed: 2,2001,Unnamed: 4,2002,Unnamed: 6,2003,Unnamed: 8,2004,...,2019,Unnamed: 40,2020,Unnamed: 42,2021,Unnamed: 44,2022,Unnamed: 46,2023,Unnamed: 48
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,77.9,NaN,78.1,NaN,78.2,NaN,78.3,NaN,79.0,...,82.1,NaN,80.8,NaN,81.9,NaN,81.8,NaN,82.5,ip
2,Bulgaria,71.6,NaN,71.9,NaN,72.1,NaN,72.3,NaN,72.5,...,75.1,NaN,73.3,NaN,71.2,NaN,74.2,b,75.8,ip
3,Czechia,75.1,NaN,75.3,NaN,75.4,NaN,75.3,NaN,75.9,...,79.3,NaN,78.3,NaN,77.2,b,79.0,NaN,80.0,ip
4,Denmark,76.9,NaN,77.0,NaN,77.1,NaN,77.4,NaN,77.8,...,81.5,NaN,81.6,NaN,81.5,NaN,81.3,NaN,81.9,ip

Now let's clean up the data. As a first step elt's remove the unnecessary empty columns and any countries that are not in Europe.

In [6]:
# Drop unnamed columns and the first row (GEO Labels)
df_life = df_life.loc[:, ~df_life.columns.str.contains('Unnamed')]
df_life = df_life.iloc[1:]  # Remove first row

# Filter for specified countries 
countries = ['Albania', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 
           'Bulgaria', 'Croatia', 'Czechia', 'Denmark', 'Estonia', 'Faroe Islands',
           'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
           'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 
           'Netherlands (Kingdom of the)', 'North Macedonia', 'Norway', 'Poland',
           'Portugal', 'Republic of Moldova', 'Romania', 'Russian Federation',
           'Serbia and Montenegro', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
           'Switzerland', 'Ukraine', 
           'United Kingdom of Great Britain and Northern Ireland',
           'Montenegro', 'Serbia']

df_life = df_life[df_life['TIME'].isin(countries)]
df_life.head()

,TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Belgium,77.9,78.1,78.2,78.3,79.0,79.1,79.5,79.9,79.8,...,81.4,81.1,81.5,81.6,81.7,82.1,80.8,81.9,81.8,82.5
2,Bulgaria,71.6,71.9,72.1,72.3,72.5,72.5,72.7,73.0,73.3,...,74.5,74.7,74.9,74.8,75.0,75.1,73.3,71.2,74.2,75.8
3,Czechia,75.1,75.3,75.4,75.3,75.9,76.1,76.7,77.0,77.3,...,78.9,78.7,79.1,79.1,79.1,79.3,78.3,77.2,79.0,80.0
4,Denmark,76.9,77.0,77.1,77.4,77.8,78.3,78.4,78.4,78.8,...,80.7,80.8,80.9,81.1,81.0,81.5,81.6,81.5,81.3,81.9
5,Germany,78.3,78.6,78.6,78.6,79.3,79.4,79.9,80.1,80.2,...,81.2,80.7,81.0,81.1,81.0,81.3,81.1,80.8,80.7,81.2

Now we clean up the missing values. Since in most of the countries not that many values are missing, we can impute the data. For this we calculate the average change of life expectany in the given country over the observation period and use this to inpute the missing values.

In [7]:
import numpy as np


year_cols = [str(year) for year in range(2000, 2024)]
df_life[year_cols] = df_life[year_cols].replace('...', np.nan)
df_life[year_cols] = df_life[year_cols].apply(pd.to_numeric, errors='coerce')

def impute_country_data(row):
    values = row[year_cols].copy()
    
    # Calculate average annual change
    deltas = []
    for i in range(1, len(values)):
        prev = values[i-1]
        curr = values[i]
        if not np.isnan(prev) and not np.isnan(curr):
            deltas.append(curr - prev)
    
    if not deltas:  # No available deltas
        return row
    
    avg_delta = np.mean(deltas)
    
    # Forward fill
    for i in range(1, len(values)):
        if np.isnan(values[i]) and not np.isnan(values[i-1]):
            values[i] = values[i-1] + avg_delta
    
    # Backward fill
    for i in range(len(values)-2, -1, -1):
        if np.isnan(values[i]) and not np.isnan(values[i+1]):
            values[i] = values[i+1] - avg_delta
    
    row[year_cols] = values
    return row

# Apply imputation to each country
df_imputed = df_life.apply(impute_country_data, axis=1)
df_imputed[year_cols] = df_imputed[year_cols].round(1)
df_imputed.head()

C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  values[i] = values[i-1] + avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:27: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  values[i] = values[i-1] + avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:32: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:32: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_15784\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]

,TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Belgium,77.9,78.1,78.2,78.3,79.0,79.1,79.5,79.9,79.8,...,81.4,81.1,81.5,81.6,81.7,82.1,80.8,81.9,81.8,82.5
2,Bulgaria,71.6,71.9,72.1,72.3,72.5,72.5,72.7,73.0,73.3,...,74.5,74.7,74.9,74.8,75.0,75.1,73.3,71.2,74.2,75.8
3,Czechia,75.1,75.3,75.4,75.3,75.9,76.1,76.7,77.0,77.3,...,78.9,78.7,79.1,79.1,79.1,79.3,78.3,77.2,79.0,80.0
4,Denmark,76.9,77.0,77.1,77.4,77.8,78.3,78.4,78.4,78.8,...,80.7,80.8,80.9,81.1,81.0,81.5,81.6,81.5,81.3,81.9
5,Germany,78.3,78.6,78.6,78.6,79.3,79.4,79.9,80.1,80.2,...,81.2,80.7,81.0,81.1,81.0,81.3,81.1,80.8,80.7,81.2

Now let's create another df with the same data but in a format that's more compatible with the gdp and trade data

In [8]:
# Melt the dataframe to create year-country-value rows
df_long = df_imputed.melt(
    id_vars=['TIME'], 
    value_vars=year_cols,
    var_name='Year',
    value_name='Life Expectancy'
)

# Clean up and sort
df_long = df_long.rename(columns={'TIME': 'Area'})
df_long['Year'] = df_long['Year'].astype(int)
df_long = df_long.sort_values(['Area', 'Year']).reset_index(drop=True)

# Round to 1 decimal (if not already done)
df_long['Life Expectancy'] = df_long['Life Expectancy'].round(1)

# Show the result
df_long_life = df_long
df_long_life.head()

      Area  Year  Life Expectancy
0  Albania  2000             76.2
1  Albania  2001             76.3
2  Albania  2002             76.4
3  Albania  2003             76.6
4  Albania  2004             76.7

### 2.3 Loading and cleaning gdp per capita dataset

In [9]:
df_gdp = pd.read_excel("raw/GDP/sdg_10_10_page_spreadsheet.xlsx",skiprows=9)

df_gdp = df_gdp.dropna(how='all', axis=0)  # Drop empty rows
df_gdp = df_gdp.dropna(how='all', axis=1)

df_gdp.rename(columns={df_gdp.columns[0]: 'Country'}, inplace=True)

df_gdp = df_gdp.iloc[6:, :]
df_gdp = df_gdp.iloc[:-7, :]

df_gdp = df_gdp.iloc[:, :-1]

output_file = "data/cleaned_gdp_data.csv"
df_gdp.to_csv(output_file, index=False)

df_gdp.head()

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
6,Belgium,23100,23800,24800,25400,26200,27200,28000.0,29100.0,29400.0,...,32400.0,33100.0,33600.0,34500.0,35600.0,36900.0,35800.0,38700,42700,44900
7,Bulgaria,5300,5800,6400,6900,7500,8300,9000.0,10000.0,10900.0,...,12900.0,13600.0,14400.0,15300.0,16300.0,17400.0,17500.0,19800,22500,24300
8,Czechia,13500,14600,15000,16100,17100,18100,19000.0,20700.0,21600.0,...,23500.0,24600.0,25400.0,27200.0,28500.0,30000.0,29200.0,30500,32200,34500
9,Denmark,23800,24400,25100,25400,27000,28000,29700.0,30900.0,32200.0,...,34300.0,35200.0,36000.0,38000.0,38800.0,39400.0,40100.0,44500,48500,47800
10,Germany,23000,24000,24500,25200,26300,26800,28000.0,29600.0,30300.0,...,34400.0,34900.0,35800.0,37200.0,38200.0,38500.0,37500.0,39900,42400,44200

In [10]:
# Melt the dataframe to convert columns (years) into rows
df_gdp_long = df_gdp.melt(
    id_vars='Country',     # Identifier column (kept as-is)
    var_name='Year',       # Name for the new "year" column (previously column headers)
    value_name='GDP_PC'       # Name for the GDP values
)

# Optional: Convert the 'Year' column to integer (if needed)
df_gdp_long['Year'] = df_gdp_long['Year'].astype(int)

# Optional: Sort the dataframe by Country and Year for clarity
df_gdp_long = df_gdp_long.sort_values(by=['Country', 'Year']).reset_index(drop=True)
df_gdp_long.head()

   Country  Year GDP_PC
0  Albania  2000   3200
1  Albania  2001   3600
2  Albania  2002   3800
3  Albania  2003   4100
4  Albania  2004   4400

### 2.7 Create merged datasets for later use

Merge gdp, trade and life expectancy

In [11]:
def merge_dataframes(df_pivot_trade, df_gdp_long, df_long_life):
    # First merge GDP and life expectancy (both single-level indexed)
    base_df = pd.merge(
        df_gdp_long,
        df_long_life,
        left_on=['Country', 'Year'],
        right_on=['Area', 'Year'],
        how='outer'
    )
    
    # Clean up country naming
    base_df['Country'] = base_df['Country'].fillna(base_df['Area'])
    base_df = base_df.drop('Area', axis=1)
    
    # Create a multi-index for the base_df to match trade data
    base_df.columns = pd.MultiIndex.from_tuples([('', col) for col in base_df.columns])
    
    # Now merge with trade data
    final_df = pd.merge(
        base_df,
        df_pivot_trade,
        left_on=[('', 'Country'), ('', 'Year')],
        right_on=['Area', 'Year'],
        how='outer'
    )
    
    return final_df

df_gdp_life_trade = merge_dataframes(df_pivot_trade, df_gdp_long, df_long_life)
df_gdp_life_trade.head()

                                        Alcoholic Beverages               \
   Country  Year GDP_PC Life Expectancy     Export quantity Export value
0  Albania  2000   3200            76.2                26.0         35.0
1  Albania  2001   3600            76.3                35.0         52.0
2  Albania  2002   3800            76.4                70.0         64.0
3  Albania  2003   4100            76.6               130.0        167.0
4  Albania  2004   4400            76.7               320.0        265.0

                               Animal Fats and Oils (excl. Butter)  \
  Import quantity Import value                     Export quantity
0         33354.0      12533.0                                 0.0
1         37187.0      15916.0                                 0.0
2         29474.0      15730.0                                 0.0
3         28265.0      18193.0                                 0.0
4         24729.0      18678.0                                 0.0

                ... Sugar and Honey              Vegetable Oil and Fat  \
  Export value  ... Import quantity Import value       Export quantity
0          0.0  ...         59993.0      15406.0                  39.0
1          0.0  ...         57437.0      15304.0                   5.0
2          0.0  ...         67945.0      18361.0                  14.0
3          0.0  ...         66291.0      18335.0                 200.0
4          0.0  ...         83846.0      18776.0                 281.0

                                                 Vegetables               \
  Export value Import quantity Import value Export quantity Export value
0         45.0         35803.0      20150.0           789.0        514.0
1          4.0         36855.0      18847.0           585.0        596.0
2         11.0         34706.0      21262.0           972.0        724.0
3        326.0         40214.0      28600.0          1116.0        502.0
4        339.0         40055.0      32319.0          2003.0       1699.0


  Import quantity Import value
0         21762.0       6589.0
1         21847.0       8500.0
2         33755.0      11428.0
3         33928.0      13102.0
4         23576.0      15339.0

[5 rows x 98 columns]

### 2.4 Loading and cleaning food consumption dataset

In [12]:
# Load the Excel file and set the second row (index 1) as the header
file_path = "raw/Food Consumption/consumption_g_perday.xlsx"  # Update with your file's location
df = pd.read_excel(file_path, header=2)

# Display the first few rows to verify the data
df.head()

c:\Users\Marci\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Survey's country,Survey start year,Survey name,Population Group (L2),Exposure hierarchy (L1),Number of subjects,Number of consumers,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,Comment
0,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Alcoholic beverages,308,144,149.512987,280.610459,0.0,0.000000,0.000000,750.000000,888.322917,1117.673611,NaN
1,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Animal and vegetable fats and oils and primary...,308,263,12.737159,11.559832,0.0,0.000000,10.122966,31.110981,34.969817,38.276099,NaN
2,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,"Coffee, cocoa, tea and infusions",308,282,455.261364,472.676201,0.0,60.872340,360.000000,1174.819149,1536.093972,2244.515248,NaN
3,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Composite dishes,308,290,237.006981,162.496999,0.0,44.255862,215.062069,532.407276,590.102241,710.420966,NaN
4,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Eggs and egg products,308,45,5.064935,14.186542,0.0,0.000000,0.000000,32.355556,32.500000,59.740000,NaN

In [13]:
# Drop unwanted columns
columns_to_keep = ['Survey\'s country', 'Survey start year', 'Population Group (L2)', 
                   'Exposure hierarchy (L1)', 'Number of subjects', 'Number of consumers', 'Mean']

df_cleaned = df[columns_to_keep]
df_cleaned.head()

,Survey's country,Survey start year,Population Group (L2),Exposure hierarchy (L1),Number of subjects,Number of consumers,Mean
0,Austria,2010,Adults,Alcoholic beverages,308,144,149.512987
1,Austria,2010,Adults,Animal and vegetable fats and oils and primary...,308,263,12.737159
2,Austria,2010,Adults,"Coffee, cocoa, tea and infusions",308,282,455.261364
3,Austria,2010,Adults,Composite dishes,308,290,237.006981
4,Austria,2010,Adults,Eggs and egg products,308,45,5.064935

In [14]:
# Group by country, age group, and food category, then calculate the averages and sums
df_grouped = df_cleaned.groupby(
    ["Survey's country", "Population Group (L2)", "Exposure hierarchy (L1)"], as_index=False
).agg({
    "Mean": "mean",                # Average consumption
    "Number of consumers": "sum",  # Total consumers
    "Number of subjects": "sum"    # Total subjects
})

df_grouped = df_grouped.drop(columns=['Number of consumers', 'Number of subjects'])

# Display the grouped DataFrame
df_grouped.head()

,Survey's country,Population Group (L2),Exposure hierarchy (L1),Mean
0,Austria,Adolescents,Alcoholic beverages,6.357224
1,Austria,Adolescents,Animal and vegetable fats and oils and primary...,16.355495
2,Austria,Adolescents,"Coffee, cocoa, tea and infusions",125.462767
3,Austria,Adolescents,Composite dishes,59.946303
4,Austria,Adolescents,Eggs and egg products,16.495834

In [15]:
# Display all unique age groups in the 'Population Group (L2)' column
unique_age_groups = df_grouped["Population Group (L2)"].unique()
print(unique_age_groups)

['Adolescents' 'Adults' 'Elderly' 'Other children' 'Pregnant women'
 'Very elderly' 'Toddlers' 'Infants' 'Lactating women' 'Vegetarians']

In [16]:
# Define the specific age groups to keep
age_groups_to_keep = ["Adults", "Elderly", "Very elderly"]

# Filter the DataFrame to keep only the specified age groups
df_grouped = df_grouped[df_grouped["Population Group (L2)"].isin(age_groups_to_keep)]

# Display the updated DataFrame
df_grouped.head()

,Survey's country,Population Group (L2),Exposure hierarchy (L1),Mean
19,Austria,Adults,Alcoholic beverages,150.675344
20,Austria,Adults,Animal and vegetable fats and oils and primary...,14.828626
21,Austria,Adults,"Coffee, cocoa, tea and infusions",494.853665
22,Austria,Adults,Composite dishes,137.545469
23,Austria,Adults,Eggs and egg products,13.767620

In [17]:
# Group by country and food category, and calculate the averages
df_final = df_grouped.groupby(
    ["Survey's country", "Exposure hierarchy (L1)"], as_index=False
).agg({
    "Mean": "mean"          # Average of Mean
})

# Display the final DataFrame
df_final.head()

,Survey's country,Exposure hierarchy (L1),Mean
0,Austria,Alcoholic beverages,166.516408
1,Austria,Animal and vegetable fats and oils and primary...,17.191352
2,Austria,"Coffee, cocoa, tea and infusions",506.164903
3,Austria,Composite dishes,204.744410
4,Austria,Eggs and egg products,8.795674

In [18]:
# Pivot the DataFrame
df_pivot = df_final.pivot(
    index="Survey's country",  # Rows: each country
    columns="Exposure hierarchy (L1)",  # Columns: each food type
    values="Mean"  # Values: the mean consumption
)


# Reset the index to turn the country column back into a normal column
df_pivot = df_pivot.reset_index()


df_pivot.rename(columns={"Survey's country": "Country"}, inplace=True)
# Drop the first column from the DataFrame
df_pivot.columns.name = None

# Display the pivoted DataFrame
df_pivot.head()

,Country,Alcoholic beverages,"Amphibians, reptiles, and terrestrial invertebrates",Animal and vegetable fats and oils and primary derivatives thereof,"Coffee, cocoa, tea and infusions",Composite dishes,Eggs and egg products,Fish and seafood,Food products for young population,Fruit and fruit products,...,"Major isolated ingredients, additives, flavours, baking and processing aids",Meat and meat products,Milk and dairy products,Other ingredients,"Products for non-standard diets, food imitates and food supplements","Seasoning, sauces and condiments","Starchy roots or tubers and products thereof, sugar plants","Sugar and similar, confectionery and water-based sweet desserts",Vegetables and vegetable products,Water and water-based beverages
0,Austria,166.516408,NaN,17.191352,506.164903,204.744410,8.795674,20.834679,NaN,151.713658,...,0.185394,88.061634,159.150887,NaN,4.772915,24.045274,25.532152,12.393363,106.405959,1147.504358
1,Belgium,176.182765,0.138166,38.234566,485.317295,139.873394,9.326120,25.907912,0.181111,149.255072,...,0.082624,119.521214,166.454963,NaN,6.447024,25.630590,106.421072,19.649948,134.006988,728.649289
2,Bosnia and Herzegovina,53.757918,NaN,18.483524,223.446471,4.099412,43.402229,14.369406,0.967059,130.164118,...,0.095088,151.848653,160.424712,NaN,0.712165,10.472947,68.152053,10.943894,148.532729,1157.601324
3,Croatia,104.608156,0.200416,20.455774,253.494776,2.102810,18.856405,21.400130,1.421579,169.739195,...,0.342856,138.512775,178.013741,0.01473,5.428320,11.213325,64.364645,9.852132,156.121909,974.833203
4,Cyprus,78.273638,0.009615,28.095809,164.615630,11.263452,14.164456,30.885233,0.459559,133.808601,...,0.935655,135.260535,198.019598,NaN,4.266961,5.162193,91.126593,9.250543,234.628936,1271.179959

In [19]:
# Identify missing values in the pivoted DataFrame
missing_values = df_pivot.isnull().sum()

# Filter to show only columns with missing values
columns_with_missing = missing_values[missing_values > 0]

# Display the columns with missing values and their counts
print(columns_with_missing)

Amphibians, reptiles, and terrestrial invertebrates    13
Food products for young population                      6
Other ingredients                                      23
dtype: int64

In [20]:
# Identify missing values in the pivoted DataFrame
missing_values = df_pivot.isnull().sum()

# Filter to show only columns with missing values
columns_with_missing = missing_values[missing_values > 0]

# Show all data for the columns with missing values
columns_with_missing_data = df_pivot[columns_with_missing.index]
columns_with_missing_data.head()

,"Amphibians, reptiles, and terrestrial invertebrates",Food products for young population,Other ingredients
0,NaN,NaN,NaN
1,0.138166,0.181111,NaN
2,NaN,0.967059,NaN
3,0.200416,1.421579,0.01473
4,0.009615,0.459559,NaN

In [21]:
# Set missing values for 'Amphibians, reptiles, and terrestrial invertebrates' and 'Food products for young population' to 0
df_pivot['Amphibians, reptiles, and terrestrial invertebrates'] = (
    df_pivot['Amphibians, reptiles, and terrestrial invertebrates'].fillna(0)
)
df_pivot['Food products for young population'] = df_pivot['Food products for young population'].fillna(0)

# Drop the 'Other ingredients' column
df_food_consumption = df_pivot.drop(columns=['Other ingredients'])

# Display the updated DataFrame
df_food_consumption.head()

,Country,Alcoholic beverages,"Amphibians, reptiles, and terrestrial invertebrates",Animal and vegetable fats and oils and primary derivatives thereof,"Coffee, cocoa, tea and infusions",Composite dishes,Eggs and egg products,Fish and seafood,Food products for young population,Fruit and fruit products,...,"Legumes, nuts, oilseeds and spices","Major isolated ingredients, additives, flavours, baking and processing aids",Meat and meat products,Milk and dairy products,"Products for non-standard diets, food imitates and food supplements","Seasoning, sauces and condiments","Starchy roots or tubers and products thereof, sugar plants","Sugar and similar, confectionery and water-based sweet desserts",Vegetables and vegetable products,Water and water-based beverages
0,Austria,166.516408,0.000000,17.191352,506.164903,204.744410,8.795674,20.834679,0.000000,151.713658,...,8.533545,0.185394,88.061634,159.150887,4.772915,24.045274,25.532152,12.393363,106.405959,1147.504358
1,Belgium,176.182765,0.138166,38.234566,485.317295,139.873394,9.326120,25.907912,0.181111,149.255072,...,7.046268,0.082624,119.521214,166.454963,6.447024,25.630590,106.421072,19.649948,134.006988,728.649289
2,Bosnia and Herzegovina,53.757918,0.000000,18.483524,223.446471,4.099412,43.402229,14.369406,0.967059,130.164118,...,13.370076,0.095088,151.848653,160.424712,0.712165,10.472947,68.152053,10.943894,148.532729,1157.601324
3,Croatia,104.608156,0.200416,20.455774,253.494776,2.102810,18.856405,21.400130,1.421579,169.739195,...,15.318629,0.342856,138.512775,178.013741,5.428320,11.213325,64.364645,9.852132,156.121909,974.833203
4,Cyprus,78.273638,0.009615,28.095809,164.615630,11.263452,14.164456,30.885233,0.459559,133.808601,...,23.069827,0.935655,135.260535,198.019598,4.266961,5.162193,91.126593,9.250543,234.628936,1271.179959

### 2.5 Loading and cleaning diabetes dataset

In [22]:
file_path = "raw/Diabetes/diabetes_raw.csv"  # Replace with your file's location
df_diabetes = pd.read_csv(file_path)

# Keep only the columns for 'Country/Territory', '2011', and '2021'
df_diabetes = df_diabetes[['Country/Territory', '2021']]

df_diabetes.rename(columns={"2021": "Diabetes Prevalence in %"}, inplace=True)
df_diabetes.rename(columns={"Country/Territory": "Country"}, inplace=True)
# Save the cleaned data to a new CSV file
# output_file = "data/diabetes_cleaned.csv"  # Replace with your desired output location
# df_cleaned.to_csv(output_file, index=False)
df_diabetes.head()

                  Country  Diabetes Prevalence in %
0                  Turkey                      14.5
1                   Spain                      10.3
2                 Albania                      10.2
3                 Andorra                       9.7
4  Bosnia and Herzegovina                       9.1

### 2.6 Loading and cleaning obesity dataset

In [23]:
file_path = "raw/Obesity/obesity_raw.xlsx"  # Replace with your actual file path
df_obesity = pd.read_excel(file_path)

df_obesity.rename(columns={"Overweight": "Overweight in %"}, inplace=True)
df_obesity.rename(columns={"Obese": "Obese in %"}, inplace=True)
df_obesity.rename(columns={"BMI (Labels)": "Country"}, inplace=True)

# Inspect the first few rows and column names
df_obesity.head()

     Country  Overweight in %  Obese in %
0      Malta             62.0        25.8
1    Finland             59.5        21.9
2     Latvia             59.2        22.8
3    Romania             58.9        10.1
4  Lithuania             58.5        20.3

## 2.7 Merging non-time series datasets

In [24]:
def merge_static(df1, df2, df3, key='Country'):

    merged_df = pd.merge(df1, df2, on=key, how='inner')
    merged_df = pd.merge(merged_df, df3, on=key, how='inner')
    
    return merged_df

In [25]:
df_nontime_data = merge_static(df_obesity, df_diabetes,df_food_consumption, key='Country')

df_nontime_data.head()

,Country,Overweight in %,Obese in %,Diabetes Prevalence in %,Alcoholic beverages,"Amphibians, reptiles, and terrestrial invertebrates",Animal and vegetable fats and oils and primary derivatives thereof,"Coffee, cocoa, tea and infusions",Composite dishes,Eggs and egg products,...,"Legumes, nuts, oilseeds and spices","Major isolated ingredients, additives, flavours, baking and processing aids",Meat and meat products,Milk and dairy products,"Products for non-standard diets, food imitates and food supplements","Seasoning, sauces and condiments","Starchy roots or tubers and products thereof, sugar plants","Sugar and similar, confectionery and water-based sweet desserts",Vegetables and vegetable products,Water and water-based beverages
0,Finland,59.5,21.9,6.1,96.913844,0.047792,32.531320,580.567592,19.562481,15.836299,...,9.603737,3.527509,119.611618,414.443750,9.745016,21.724084,76.080315,20.941222,145.552879,929.047543
1,Latvia,59.2,22.8,5.9,52.637448,0.000000,14.870916,454.452114,116.734517,16.208971,...,12.749310,0.346837,162.006563,212.655380,0.860361,20.626037,107.437701,24.977547,179.150295,366.972612
2,Romania,58.9,10.1,6.5,65.139945,0.000000,39.327920,181.323171,48.272053,35.768989,...,16.535241,0.394059,155.598429,156.779223,1.318719,9.921454,85.378759,11.050357,311.990459,650.648438
3,Poland,57.8,18.4,6.8,52.308600,0.000000,31.753797,456.866840,0.126220,38.734444,...,10.861306,0.130896,124.943407,113.020365,1.308831,9.394734,94.048640,7.644009,137.412662,301.138233
4,Hungary,57.5,21.8,7.0,70.574369,0.000000,36.728944,234.372971,3.629270,23.040902,...,20.619549,0.564422,166.295827,247.994426,6.742876,13.083476,100.248637,25.007251,181.707954,644.742026

In [26]:
# Define the mapping of countries to refined regions
region_mapping = {
    # Northern Europe (including Scandinavia)
    'Denmark': 'Northern Europe',
    'Finland': 'Northern Europe',
    'Iceland': 'Northern Europe',
    'Norway': 'Northern Europe',
    'Sweden': 'Northern Europe',

    # Southern Europe
    'Italy': 'Southern Europe',
    'Portugal': 'Southern Europe',
    'Greece': 'Southern Europe',
    'Spain': 'Southern Europe',

    # Central Europe
    'Germany': 'Central Europe',
    'Austria': 'Central Europe',
    'France': 'Central Europe',
    'Belgium': 'Central Europe',
    'Netherlands': 'Central Europe',
    'Switzerland': 'Central Europe',
    'Luxembourg': 'Central Europe',
    'United Kingdom': 'Central Europe',
    'Ireland': 'Central Europe',

    # North Eastern Europe
    'Estonia': 'North Eastern Europe',
    'Latvia': 'North Eastern Europe',
    'Lithuania': 'North Eastern Europe',
    'Poland': 'North Eastern Europe',
    'Czechia': 'North Eastern Europe',
    'Slovakia': 'North Eastern Europe',
    'Hungary': 'North Eastern Europe',

    # South Eastern Europe
    'Albania': 'South Eastern Europe',
    'Bosnia and Herzegovina': 'South Eastern Europe',
    'Bulgaria': 'South Eastern Europe',
    'Croatia': 'South Eastern Europe',
    'Montenegro': 'South Eastern Europe',
    'Romania': 'South Eastern Europe',
    'Serbia': 'South Eastern Europe',
    'Slovenia': 'South Eastern Europe',
}

# Add the 'Region' column to the DataFrame based on the updated mapping
df_nontime_data['Region'] = df_nontime_data['Country'].map(region_mapping)

columns = ['Country', 'Region'] + [col for col in df_nontime_data.columns if col not in ['Country', 'Region']]
df_nontime_data = df_nontime_data[columns]
# Display the updated DataFrame
df_nontime_data.head()

,Country,Region,Overweight in %,Obese in %,Diabetes Prevalence in %,Alcoholic beverages,"Amphibians, reptiles, and terrestrial invertebrates",Animal and vegetable fats and oils and primary derivatives thereof,"Coffee, cocoa, tea and infusions",Composite dishes,...,"Legumes, nuts, oilseeds and spices","Major isolated ingredients, additives, flavours, baking and processing aids",Meat and meat products,Milk and dairy products,"Products for non-standard diets, food imitates and food supplements","Seasoning, sauces and condiments","Starchy roots or tubers and products thereof, sugar plants","Sugar and similar, confectionery and water-based sweet desserts",Vegetables and vegetable products,Water and water-based beverages
0,Finland,Northern Europe,59.5,21.9,6.1,96.913844,0.047792,32.531320,580.567592,19.562481,...,9.603737,3.527509,119.611618,414.443750,9.745016,21.724084,76.080315,20.941222,145.552879,929.047543
1,Latvia,North Eastern Europe,59.2,22.8,5.9,52.637448,0.000000,14.870916,454.452114,116.734517,...,12.749310,0.346837,162.006563,212.655380,0.860361,20.626037,107.437701,24.977547,179.150295,366.972612
2,Romania,South Eastern Europe,58.9,10.1,6.5,65.139945,0.000000,39.327920,181.323171,48.272053,...,16.535241,0.394059,155.598429,156.779223,1.318719,9.921454,85.378759,11.050357,311.990459,650.648438
3,Poland,North Eastern Europe,57.8,18.4,6.8,52.308600,0.000000,31.753797,456.866840,0.126220,...,10.861306,0.130896,124.943407,113.020365,1.308831,9.394734,94.048640,7.644009,137.412662,301.138233
4,Hungary,North Eastern Europe,57.5,21.8,7.0,70.574369,0.000000,36.728944,234.372971,3.629270,...,20.619549,0.564422,166.295827,247.994426,6.742876,13.083476,100.248637,25.007251,181.707954,644.742026

## 3. Exploratory analysis

idk add code and texts

Finished datsets you can use: df_gdp_life_trade and df_nontime_data

## 4. Training models to answer some questions + Eval

When we first looked through the available datasets, we wanted to pick topics that would be both meaningful to analyze and feasible with machine learning. The diabetes risk analysis caught our attention since it connects food consumption patterns to public health outcomes - something that affects millions of people worldwide. For our second topic, we chose to build a regression model for GDP per capita prediction, as it seemed to be an interesting challenge to find some correlation between the food consumption/food related health issues and the economic strength of the countries. Though we hadn't done deep analysis yet, both datasets seemed to have good quality data and enough variables to work with. We basically tried to find a sweet spot between picking important real-world problems and making sure we had enough solid data to actually build useful models.

The first topic is related to the fifth question about the risk of diabetes in relation to food
consumption.

### 4.1 Some shit with diabetes ??? Or maybe drop this or simply skip using ML

### 4.2 Predict GDP per capita based on life expectancy and import/export values

#### 4.2.1 Load and transform the data, create training and test splits

In [27]:
df_gdp_life_trade.head()

                                        Alcoholic Beverages               \
   Country  Year GDP_PC Life Expectancy     Export quantity Export value
0  Albania  2000   3200            76.2                26.0         35.0
1  Albania  2001   3600            76.3                35.0         52.0
2  Albania  2002   3800            76.4                70.0         64.0
3  Albania  2003   4100            76.6               130.0        167.0
4  Albania  2004   4400            76.7               320.0        265.0

                               Animal Fats and Oils (excl. Butter)  \
  Import quantity Import value                     Export quantity
0         33354.0      12533.0                                 0.0
1         37187.0      15916.0                                 0.0
2         29474.0      15730.0                                 0.0
3         28265.0      18193.0                                 0.0
4         24729.0      18678.0                                 0.0

                ... Sugar and Honey              Vegetable Oil and Fat  \
  Export value  ... Import quantity Import value       Export quantity
0          0.0  ...         59993.0      15406.0                  39.0
1          0.0  ...         57437.0      15304.0                   5.0
2          0.0  ...         67945.0      18361.0                  14.0
3          0.0  ...         66291.0      18335.0                 200.0
4          0.0  ...         83846.0      18776.0                 281.0

                                                 Vegetables               \
  Export value Import quantity Import value Export quantity Export value
0         45.0         35803.0      20150.0           789.0        514.0
1          4.0         36855.0      18847.0           585.0        596.0
2         11.0         34706.0      21262.0           972.0        724.0
3        326.0         40214.0      28600.0          1116.0        502.0
4        339.0         40055.0      32319.0          2003.0       1699.0


  Import quantity Import value
0         21762.0       6589.0
1         21847.0       8500.0
2         33755.0      11428.0
3         33928.0      13102.0
4         23576.0      15339.0

[5 rows x 98 columns]

As already mentioned, predicting GDP per capita based on life expectancy, and import/export metrics seems like an interesting topic, and in general we expect to have a correlation between these numbers. For this to work we first need to transform the dataset into the correct format and create train and test splits. As a first step we aggreagate the import and export value for each row.

In [28]:
# Reset the multiindex columns
df_gdp_life_trade.columns = df_gdp_life_trade.columns.get_level_values(-1)

# Create aggregated dataframe with basic columns and summed trade values
df_aggregated = pd.DataFrame({
    'Country': df_gdp_life_trade['Country'],
    'Year': df_gdp_life_trade['Year'],
    'GDP_PC': df_gdp_life_trade['GDP_PC'],
    'Life_Expectancy': df_gdp_life_trade['Life Expectancy'],
    'Total_Import_Value': df_gdp_life_trade.filter(like='Import value').sum(axis=1),
    'Total_Export_Value': df_gdp_life_trade.filter(like='Export value').sum(axis=1)
})

df_aggregated.head()

,Country,Year,GDP_PC,Life_Expectancy,Total_Import_Value,Total_Export_Value
0,Albania,2000,3200,76.2,373973.0,8458.0
1,Albania,2001,3600,76.3,400486.0,7344.0
2,Albania,2002,3800,76.4,464807.0,7800.0
3,Albania,2003,4100,76.6,553808.0,11761.0
4,Albania,2004,4400,76.7,683804.0,24820.0

There are some extra countries that are not contained in all fo the datasets, the gdp and life expectancy is unfortunately missing for these, therefore we will drop them in the next steps.

In [29]:
countries_to_drop = [
   'Bosnia and Herzegovina', 'Cyprus', 'Faroe Islands', 'Netherlands',
   'Netherlands (Kingdom of the)', 'Republic of Moldova', 'Russian Federation',
   'Serbia and Montenegro', 'Türkiye', 'United Kingdom',
   'United Kingdom of Great Britain and Northern Ireland'
]

df_aggregated = df_aggregated[~df_aggregated['Country'].isin(countries_to_drop)]
df_aggregated['Country'].unique()

array(['Albania', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Croatia',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Montenegro',
       'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Ukraine'], dtype=object)

In [30]:
df_aggregated.isna().sum()

Country                0
Year                   0
GDP_PC                48
Life_Expectancy        0
Total_Import_Value     0
Total_Export_Value     0
dtype: int64

In [31]:
df_aggregated = df_aggregated.dropna()
df_aggregated.isna().sum()

Country               0
Year                  0
GDP_PC                0
Life_Expectancy       0
Total_Import_Value    0
Total_Export_Value    0
dtype: int64

Now we create a new column called 'Trade_balance' which will represent wether a country had a positive or negative year in terms of import/export. This will be calculated based on the formula: (Export - Import)/|Export - Import|. We decided to create this column because we felt it is a significant metric about the economic situation of a country, but the total import and export values are already in the dataset and threfore we did not want to include the simple balance as it is redundant.

In [32]:
df_aggregated['Trade_Balance'] = np.sign(df_aggregated['Total_Export_Value'] - df_aggregated['Total_Import_Value'])
df_aggregated.head()

,Country,Year,GDP_PC,Life_Expectancy,Total_Import_Value,Total_Export_Value,Trade_Balance
0,Albania,2000,3200,76.2,373973.0,8458.0,-1.0
1,Albania,2001,3600,76.3,400486.0,7344.0,-1.0
2,Albania,2002,3800,76.4,464807.0,7800.0,-1.0
3,Albania,2003,4100,76.6,553808.0,11761.0,-1.0
4,Albania,2004,4400,76.7,683804.0,24820.0,-1.0

We are under the impression that encoding the country column could have a strong influence on the prediction (Since some countries have always had higher GDP, import/export and life expectancy values than others), therefore we will shuffle the dataframe and then drop this column.

In [33]:
df_aggregated = df_aggregated.sample(frac=1, random_state=42).reset_index(drop=True)
df_aggregated = df_aggregated.drop('Country', axis=1)

#Change column order
cols = [col for col in df_aggregated.columns if col != 'GDP_PC'] + ['GDP_PC']
df_aggregated = df_aggregated[cols]

df_aggregated.head()

,Year,Life_Expectancy,Total_Import_Value,Total_Export_Value,Trade_Balance,GDP_PC
0,2020,77.0,7692718.90,5226414.86,-1.0,22600.0
1,2012,83.0,582579.00,104190.00,-1.0,31600.0
2,2000,71.6,0.00,0.00,0.0,5300
3,2018,81.5,4363111.60,3080510.79,-1.0,26200.0
4,2017,82.4,946322.58,152630.59,-1.0,31400.0

We have noticed that 6 rows still contain a ':' char, we will drop these rows for simplicity.

In [34]:
for column in df_aggregated.columns:
    if df_aggregated[column].astype(str).str.contains(':').any():
        print(f"Column {column} contains ':'")

count = sum(df_aggregated[column].astype(str).str.contains(':').any() for column in df_aggregated.columns)
print(f"Number of columns containing ':': {count}")

count = df_aggregated.astype(str).apply(lambda x: x.str.contains(':')).sum().sum()
print(f"Number of rows containing ':': {count}")

# Drop rows containing ':'
df_aggregated = df_aggregated[~df_aggregated.astype(str).apply(lambda x: x.str.contains(':')).any(axis=1)]

# Verify the drop
print(f"DataFrame shape after dropping rows: {df_aggregated.shape}")

Column GDP_PC contains ':'
Number of columns containing ':': 1
Number of rows containing ':': 6
DataFrame shape after dropping rows: (762, 6)

Create train/test splits, first let'S do a 70-30 train-test split, and later on we will explore some other options if the results are good enough and it is sensible to further explore. For our experiments we decided to use scikit-learn as this is the one thought on class and the libraryy we are most familiar with.

In [35]:
import typing
from sklearn.model_selection import train_test_split

def split_data(df: pd.DataFrame, test_size: float=0.3) -> typing.Tuple[pd.DataFrame, pd.DataFrame]:

    # YOUR CODE HERE
    df_train, df_test = train_test_split(df, random_state=123, test_size=test_size) #scikit learn method to split the df
    
    return df_train, df_test

In [36]:
df_train, df_test = split_data(df_aggregated)

#### 4.2.2 Train and test the models

In [37]:
def create_dataset(df:pd.DataFrame, valid_size: float, random_state) -> typing.Tuple[pd.DataFrame, pd.Series, pd.DataFrame, pd.Series]:
    X_train = None
    X_valid = None
    y_train = None
    y_valid = None
    
    # YOUR CODE HERE
    df_train, df_valid = train_test_split(df, random_state=random_state, test_size=valid_size)

    X_train = df_train.drop(columns=['GDP_PC'])
    y_train = df_train['GDP_PC']
    X_valid = df_valid.drop(columns=['GDP_PC'])
    y_valid = df_valid['GDP_PC']

    return X_train, y_train, X_valid, y_valid

In [38]:
X_train, y_train, X_valid, y_valid = create_dataset(df_train, valid_size=0.2, random_state=123)

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR

# Replace classification models with regression models
suitable_ml_methods = [
    LinearRegression,
    RandomForestRegressor,
    GradientBoostingRegressor, 
    SVR
]

In [40]:
from sklearn.base import ClassifierMixin

def train_model(model_type: type, X_train: pd.DataFrame, y_train: pd.DataFrame):
    # Special handling for SVR which may need parameter scaling
    if model_type == SVR:
        trained_model = model_type(kernel='linear')
    else:
        trained_model = model_type()
    trained_model.fit(X_train, y_train)
    return trained_model

def predict_values(trained_model, X_valid: pd.DataFrame) -> np.ndarray:
    return trained_model.predict(X_valid)

In [41]:
#1. accuracy_score, 2. precision_score, 3. recall_score
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, root_mean_squared_error

def compare_metrics(y_true: pd.DataFrame, y_pred: pd.DataFrame) -> dict:
    scores = {}
    scores['r2_score'] = r2_score(y_true, y_pred)
    scores['mean_squared_error'] = mean_squared_error(y_true, y_pred)
    scores['mean_absolute_error'] = mean_absolute_error(y_true, y_pred)
    scores['root_mean_squared_error'] = root_mean_squared_error(y_true, y_pred)
    return scores

def print_scores(scores: dict):
  print("\nScores:\n=======")
  for metric_name, metric_value in scores.items():
    print(f"{metric_name}: {metric_value}")

In [42]:
model_idx = 1  # Try different indices for different models
model_class = suitable_ml_methods[model_idx]
print(f"Using model: {model_class.__name__}")

trained_model = train_model(model_class, X_train, y_train)
y_pred = predict_values(trained_model, X_valid)
metrics_scores = compare_metrics(y_valid, y_pred)
print_scores(metrics_scores)

Using model: RandomForestRegressor

Scores:
=======
r2_score: 0.9339381050164715
mean_squared_error: 12860207.644859813
mean_absolute_error: 2624.1682242990655
root_mean_squared_error: 3586.113166767024

The Random Forest Regressor performed the best by far, and it shows promising results, however the MSE is really higs. The Mean Absolute Error on the other hand is only ~2500$ which is acceptable in case of countries with high GDP per capita. On the other hand some countlis such as albania have a value around 8000$ for 2023 and even lower values in the past, so for these such a difference is way too high. Let's see if we can get it better with some scaling.

#### 4.2.3 Explore different scaling approaches

In [43]:
from sklearn.pipeline import make_pipeline

def fit_pipeline(X_train:pd.DataFrame, 
                    y_train:pd.DataFrame, 
                    X_valid:pd.DataFrame, 
                    y_valid:pd.DataFrame, 
                    model_class: type, 
                    scaler_class:type):
  # build a sklearn pipeline using the scaler and the model 
  # train the pipeline, and predict on the valid data
  # calculate the performance using the metric_func on the predictions and y_valid
  # return the calculated performance
  score = 0.0
  # YOUR CODE HERE
  pipeline = make_pipeline(scaler_class(), model_class())
  pipeline.fit(X_train, y_train)
  y_pred = pipeline.predict(X_valid)
  score = compare_metrics(y_valid, y_pred)
    
  return score


def compare_scaling(X_train:pd.DataFrame, 
                    y_train:pd.DataFrame, 
                    X_valid:pd.DataFrame, 
                    y_valid:pd.DataFrame, 
                    model_class: type):
    scores = {}

    # YOUR CODE HERE
    #Scalers: StandardScaler, MinMaxScaler, MaxAbsScaler
    from sklearn.preprocessing import StandardScaler
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.preprocessing import MaxAbsScaler
    from sklearn.preprocessing import RobustScaler

    scores['StandardScaler'] = fit_pipeline(X_train, y_train, X_valid, y_valid, model_class, StandardScaler)
    scores['MinMaxScaler'] = fit_pipeline(X_train, y_train, X_valid, y_valid, model_class, MinMaxScaler)
    scores['MaxAbsScaler'] = fit_pipeline(X_train, y_train, X_valid, y_valid, model_class, MaxAbsScaler)
    scores['RobustScaler'] = fit_pipeline(X_train, y_train, X_valid, y_valid, model_class, RobustScaler)

    return scores

In [44]:
model_idx = 1

choosen_model_class = suitable_ml_methods[model_idx]
print(f"Choosen model: {choosen_model_class.__name__}")

scaling_scores = compare_scaling(X_train, y_train, X_valid, y_valid, 
                                 choosen_model_class)
print_scores(scaling_scores)

Choosen model: RandomForestRegressor

Scores:
=======
StandardScaler: {'r2_score': 0.9366037411981907, 'mean_squared_error': 12341290.728971962, 'mean_absolute_error': 2575.8691588785045, 'root_mean_squared_error': 3513.0173254585525}
MinMaxScaler: {'r2_score': 0.9438923637584091, 'mean_squared_error': 10922421.355140187, 'mean_absolute_error': 2410.8691588785045, 'root_mean_squared_error': 3304.908675764005}
MaxAbsScaler: {'r2_score': 0.9365965769190736, 'mean_squared_error': 12342685.392523365, 'mean_absolute_error': 2587.0186915887853, 'root_mean_squared_error': 3513.2158192350444}
RobustScaler: {'r2_score': 0.9362809544391059, 'mean_squared_error': 12404127.327102805, 'mean_absolute_error': 2544.691588785047, 'root_mean_squared_error': 3521.9493646420874}

It is not surprising as Random Forests are usually not sensitive to scaling.

#### 4.2.4 Experiment with different train/validation splits

In [45]:
def compare_train_valid_splits(df:pd.DataFrame) -> typing.Dict[str, float]:
    scores = {}
    # YOUR CODE HERE
    splits={0.01, 0.02, 0.03, 0.04, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6}
    model_idx = 1
    choosen_model_class = suitable_ml_methods[model_idx]
    print(f"Choosen model: {choosen_model_class.__name__}")
    
    for split in splits:
        X_train, y_train, X_valid, y_valid = create_dataset(df, valid_size=split, random_state=123)
        trained_model = train_model(choosen_model_class, X_train, y_train)
        y_pred = predict_values(trained_model, X_valid)
        scores[f'Split {split}/{1-split}: '] = compare_metrics(y_valid, y_pred)
    
    return scores

In [46]:
split_scores = compare_train_valid_splits(df_train)

print_scores(split_scores)

Choosen model: RandomForestRegressor

Scores:
=======
Split 0.1/0.9: : {'r2_score': 0.9047525266104285, 'mean_squared_error': 13737331.425925925, 'mean_absolute_error': 2734.0185185185187, 'root_mean_squared_error': 3706.390619716967}
Split 0.2/0.8: : {'r2_score': 0.9363897521134317, 'mean_squared_error': 12382947.785046728, 'mean_absolute_error': 2594.700934579439, 'root_mean_squared_error': 3518.9412875248045}
Split 0.15/0.85: : {'r2_score': 0.9415176985148216, 'mean_squared_error': 11858643.05, 'mean_absolute_error': 2572.05, 'root_mean_squared_error': 3443.638054441843}
Split 0.03/0.97: : {'r2_score': 0.8904549499380631, 'mean_squared_error': 27265621.75, 'mean_absolute_error': 3661.625, 'root_mean_squared_error': 5221.649332347012}
Split 0.25/0.75: : {'r2_score': 0.9072577947287387, 'mean_squared_error': 19211123.93283582, 'mean_absolute_error': 2887.5, 'root_mean_squared_error': 4383.049615602797}
Split 0.3/0.7: : {'r2_score': 0.866835619348203, 'mean_squared_error': 28155440.20625, 'mean_absolute_error': 3051.90625, 'root_mean_squared_error': 5306.17001294248}
Split 0.35/0.65: : {'r2_score': 0.8821118854141755, 'mean_squared_error': 25217851.508021392, 'mean_absolute_error': 3061.219251336898, 'root_mean_squared_error': 5021.737897184737}
Split 0.4/0.6: : {'r2_score': 0.8726899169317721, 'mean_squared_error': 25364520.485981308, 'mean_absolute_error': 3170.644859813084, 'root_mean_squared_error': 5036.32013338919}
Split 0.45/0.55: : {'r2_score': 0.8257289371785954, 'mean_squared_error': 34875066.729166664, 'mean_absolute_error': 3557.829166666667, 'root_mean_squared_error': 5905.5115552479165}
Split 0.5/0.5: : {'r2_score': 0.8346155946778208, 'mean_squared_error': 33655402.34456929, 'mean_absolute_error': 3705.6704119850187, 'root_mean_squared_error': 5801.327636375081}
Split 0.55/0.44999999999999996: : {'r2_score': 0.8006238121497229, 'mean_squared_error': 40383942.928571425, 'mean_absolute_error': 3913.6360544217687, 'root_mean_squared_error': 6354.836184243574}
Split 0.02/0.98: : {'r2_score': 0.8597348442201198, 'mean_squared_error': 33095505.545454547, 'mean_absolute_error': 4165.727272727273, 'root_mean_squared_error': 5752.86933151228}
Split 0.6/0.4: : {'r2_score': 0.7741100846000099, 'mean_squared_error': 45578189.33125, 'mean_absolute_error': 4041.5375, 'root_mean_squared_error': 6751.162072654603}
Split 0.05/0.95: : {'r2_score': 0.902479300946923, 'mean_squared_error': 17287396.666666668, 'mean_absolute_error': 3062.3703703703704, 'root_mean_squared_error': 4157.811523706512}
Split 0.01/0.99: : {'r2_score': 0.8339550917739368, 'mean_squared_error': 49637142.0, 'mean_absolute_error': 5066.666666666667, 'root_mean_squared_error': 7045.3631560055155}
Split 0.04/0.96: : {'r2_score': 0.909999347147028, 'mean_squared_error': 18040528.59090909, 'mean_absolute_error': 2932.1363636363635, 'root_mean_squared_error': 4247.414341797736}

These results suggest that a 85/15 train/validation split works the best, but there is some fluctuation in the results and the difference is not too big overall.

Since the number of features in the dataset is quite small, feature selection does not hold any value for us at the moment. The model would probably perform significantly worse if we have removed any other columns. In the next step we will explore the effects of hyperparameters and try to finetune a model which outperforms the current one with the default settings.

#### 4.2.5 Hyperparameter tuning of the Random Forest Regressor

In [47]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [50, 100, 150, 200, 250, 300, 350, 400], 
    'max_depth': [None, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50],	
    'min_samples_split': [2, 5, 10, 15, 20],
    'min_samples_leaf': [1, 2, 4, 10],
    'max_features': ['sqrt', 'log2', None]
}

rfr = RandomForestRegressor(random_state=42)

grid_search = GridSearchCV(estimator=rfr, param_grid=param_grid, cv=5, 
                           n_jobs=-1, verbose=3, return_train_score=True)

grid_search.fit(X_train, y_train)

print("Best parameters: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

best_rfr = grid_search.best_estimator_

y_pred = predict_values(best_rfr, X_valid) 
metrics_scores = compare_metrics(y_valid, y_pred)
print_scores(metrics_scores)

Fitting 5 folds for each of 5280 candidates, totalling 26400 fits
Best parameters:  {'max_depth': 15, 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 400}
Best score:  0.8286470927144214

Scores:
=======
r2_score: 0.9365236683435222
mean_squared_error: 12356878.437105522
mean_absolute_error: 2595.007884230255
root_mean_squared_error: 3515.235189444018

#### 4.2.6 Conclusion

After our explorations we conclude that the GDP per capita can indeed get predicted based on the life expectancy and import/export rates of the different countries in the EU. The best performing model was a Random Forest Regressor with the following parameters:
- 'max_depth': 15
- 'max_features': None
- 'min_samples_leaf': 1
- 'min_samples_split': 2
- 'n_estimators': 400

It seems that the default settings perform the best, we were not able to produce any better results. On the other hand we used CV5 cross validation in the grid-search and were able to produce the smae results, which means the best model is not overly sensitive to the train/test split.

## 5. Answer the questions we have lsited, if they are already answered before, then we can just sum it up here

## 6. Conclusions, challenges, fuck knows