# DOPP Ex 2 - Question 28 - Food in the EU

## 1. Intro

Add our names, student numbers etc

Maybe do some intro to the topic?

introduce datasets, challenges finding the sets, then explain we had to change some datasets after the first discussion do to issues

## 2. Preprocessing datasets

### 2.1 Loading and cleaning import/export dataset

The Import/Export data is available for use in separate files, each file contains the data for EU conuntries for a separate year. Therefore the first step is to merge these files into a dataset. Since they all follow the same format, this is not a complicated task.

In [90]:
import pandas as pd

#Load all files into a separate df
df_trade = pd.read_csv('./raw/Exports and Imports/FAOSTAT_data_en_1-26-2025.csv')

In order to answer our defined questions, the best format for the data would be a df where each country has a row for each year and each food category is in a separate column. This way we can make more meaningful data exploration and the data would be in a format that is more suitable to analyze the changes within countries over the years and also between countries over the years. Another interesting topic could be differences based on geography. For example to compare countries with access and without access to see. Since this study is only focusing on food, we can drop the Domain column as it holds no new information to us.

In [91]:
import pandas as pd

# Create the pivot table with multi-index columns so that each item gets a separate column with four values
df_pivot_trade = pd.pivot_table(
    df_trade,
    values='Value',
    index=['Year', 'Area'],
    columns=['Item', 'Element'],
    aggfunc='first',
    fill_value=0
)

# If you don't need the multi-index, jsut uncomment this and run the cell again
# Reset index to make Year and Area regular columns
# df_pivot_trade = df_pivot_trade.reset_index()

df_pivot_trade.to_csv('./data/processed_trade_data.csv', index=False)
df_pivot_trade

Item                                                    Alcoholic Beverages  \
Element                                                     Export quantity
Year Area
2000 Albania                                                          26.00
     Austria                                                       90143.94
     Belarus                                                       57176.81
     Belgium                                                      525388.75
     Bosnia and Herzegovina                                          806.00
...                                                                     ...
2023 Spain                                                       2781001.59
     Sweden                                                       267489.67
     Switzerland                                                    5991.15
     Ukraine                                                      115735.45
     United Kingdom of Great Britain and Northern Ir...          1531012.85

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                   35.00
     Austria                                                77874.50
     Belarus                                                29353.16
     Belgium                                               598481.10
     Bosnia and Herzegovina                                   662.00
...                                                              ...
2023 Spain                                                4724103.85
     Sweden                                                699991.35
     Switzerland                                           126902.83
     Ukraine                                               103607.60
     United Kingdom of Great Britain and Northern Ir...   9758392.16

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                   33354.00
     Austria                                                  128485.54
     Belarus                                                   29365.93
     Belgium                                                  516822.85
     Bosnia and Herzegovina                                    44800.00
...                                                                 ...
2023 Spain                                                    877694.66
     Sweden                                                   391660.29
     Switzerland                                              294902.31
     Ukraine                                                  232922.00
     United Kingdom of Great Britain and Northern Ir...      2572362.02

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                12533.00
     Austria                                               207982.98
     Belarus                                                41766.63
     Belgium                                              1001198.63
     Bosnia and Herzegovina                                 20000.00
...                                                              ...
2023 Spain                                                1999216.03
     Sweden                                               1270817.05
     Switzerland                                          1753383.81
     Ukraine                                               606446.77
     United Kingdom of Great Britain and Northern Ir...   7223614.87

Item                                                    Animal Fats and Oils (excl. Butter)  \
Element                                                                     Export quantity
Year Area
2000 Albania                                                                           0.00
     Austria                                                                       40900.00
     Belarus                                                                           0.00
     Belgium                                                                      125288.00
     Bosnia and Herzegovina                                                            0.00
...                                                                                     ...
2023 Spain                                                                        265433.92
     Sweden                                                                       165773.37
     Switzerland                                                                   10813.48
     Ukraine                                                                       12307.67
     United Kingdom of Great Britain and Northern Ir...                            70904.85

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                    0.00
     Austria                                                 7053.97
     Belarus                                                    0.00
     Belgium                                                64688.79
     Bosnia and Herzegovina                                     0.00
...                                                              ...
2023 Spain                                                 500480.50
     Sweden                                                400114.30
     Switzerland                                            64266.73
     Ukraine                                                28104.24
     United Kingdom of Great Britain and Northern Ir...    111934.93

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                    2026.00
     Austria                                                   17564.00
     Belarus                                                    7525.00
     Belgium                                                  198198.00
     Bosnia and Herzegovina                                     1510.00
...                                                                 ...
2023 Spain                                                    130085.85
     Sweden                                                    42158.34
     Switzerland                                               14587.79
     Ukraine                                                   39219.78
     United Kingdom of Great Britain and Northern Ir...        81819.98

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                  726.00
     Austria                                                10439.57
     Belarus                                                 5085.00
     Belgium                                                70438.04
     Bosnia and Herzegovina                                  1210.00
...                                                              ...
2023 Spain                                                 180391.02
     Sweden                                                 94997.02
     Switzerland                                            36736.04
     Ukraine                                                75057.89
     United Kingdom of Great Britain and Northern Ir...    194596.63

Item                                                          Beverages  \
Element                                                 Export quantity
Year Area
2000 Albania                                                    3510.00
     Austria                                                  564449.14
     Belarus                                                   78876.81
     Belgium                                                 1434286.25
     Bosnia and Herzegovina                                     2421.00
...                                                                 ...
2023 Spain                                                   3803521.51
     Sweden                                                   481953.93
     Switzerland                                             2661656.62
     Ukraine                                                  307577.54
     United Kingdom of Great Britain and Northern Ir...      2291373.22

Item                                                                  ...  \
Element                                                 Export value  ...
Year Area                                                             ...
2000 Albania                                                 1030.00  ...
     Austria                                               644552.82  ...
     Belarus                                                32653.16  ...
     Belgium                                              1001300.20  ...
     Bosnia and Herzegovina                                  1888.00  ...
...                                                              ...  ...
2023 Spain                                                5519827.85  ...
     Sweden                                                948973.10  ...
     Switzerland                                          1724094.98  ...
     Ukraine                                               197296.70  ...
     United Kingdom of Great Britain and Northern Ir...  10547446.63  ...

Item                                                    Sugar and Honey  \
Element                                                 Import quantity
Year Area
2000 Albania                                                   59993.00
     Austria                                                  346655.00
     Belarus                                                  515674.00
     Belgium                                                 1278410.00
     Bosnia and Herzegovina                                    76705.00
...                                                                 ...
2023 Spain                                                   2063890.19
     Sweden                                                   217622.95
     Switzerland                                              217289.90
     Ukraine                                                   28190.77
     United Kingdom of Great Britain and Northern Ir...      2132572.15

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                15406.00
     Austria                                               144864.15
     Belarus                                               128514.00
     Belgium                                               486407.90
     Bosnia and Herzegovina                                 22475.00
...                                                              ...
2023 Spain                                                1895987.82
     Sweden                                                573929.79
     Switzerland                                           416452.80
     Ukraine                                                99173.59
     United Kingdom of Great Britain and Northern Ir...   2424819.45

Item                                                    Vegetable Oil and Fat  \
Element                                                       Export quantity
Year Area
2000 Albania                                                            39.00
     Austria                                                         60547.00
     Belarus                                                         11041.00
     Belgium                                                       1094152.00
     Bosnia and Herzegovina                                           8000.00
...                                                                       ...
2023 Spain                                                         1761516.90
     Sweden                                                         147668.24
     Switzerland                                                      2376.16
     Ukraine                                                       6422791.71
     United Kingdom of Great Britain and Northern Ir...             192297.67

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                   45.00
     Austria                                                31219.85
     Belarus                                                 8799.60
     Belgium                                               582868.96
     Bosnia and Herzegovina                                  8500.00
...                                                              ...
2023 Spain                                                6499511.23
     Sweden                                                362755.04
     Switzerland                                             8184.11
     Ukraine                                              5583485.81
     United Kingdom of Great Britain and Northern Ir...    358944.50

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                   35803.00
     Austria                                                  106204.00
     Belarus                                                   91570.00
     Belgium                                                  996817.00
     Bosnia and Herzegovina                                    61229.00
...                                                                 ...
2023 Spain                                                   3000174.19
     Sweden                                                   655655.32
     Switzerland                                              131409.69
     Ukraine                                                  129787.67
     United Kingdom of Great Britain and Northern Ir...      1198091.54

Item                                                                  \
Element                                                 Import value
Year Area
2000 Albania                                                20150.00
     Austria                                                68150.16
     Belarus                                                70298.00
     Belgium                                               491119.35
     Bosnia and Herzegovina                                 54193.00
...                                                              ...
2023 Spain                                                4558759.01
     Sweden                                                992288.74
     Switzerland                                           430363.24
     Ukraine                                               195921.22
     United Kingdom of Great Britain and Northern Ir...   2121358.34

Item                                                         Vegetables  \
Element                                                 Export quantity
Year Area
2000 Albania                                                     789.00
     Austria                                                  138774.00
     Belarus                                                   39305.00
     Belgium                                                 1843019.00
     Bosnia and Herzegovina                                     1623.00
...                                                                 ...
2023 Spain                                                   6860335.85
     Sweden                                                    72681.28
     Switzerland                                                6254.56
     Ukraine                                                   28084.55
     United Kingdom of Great Britain and Northern Ir...       216443.35

Item                                                                  \
Element                                                 Export value
Year Area
2000 Albania                                                  514.00
     Austria                                                82134.06
     Belarus                                                23043.19
     Belgium                                              1264588.71
     Bosnia and Herzegovina                                  4050.00
...                                                              ...
2023 Spain                                               12177130.88
     Sweden                                                219295.69
     Switzerland                                            31844.45
     Ukraine                                                52334.68
     United Kingdom of Great Britain and Northern Ir...    481962.32

Item                                                                     \
Element                                                 Import quantity
Year Area
2000 Albania                                                   21762.00
     Austria                                                  327111.20
     Belarus                                                   34685.00
     Belgium                                                 1330753.00
     Bosnia and Herzegovina                                    20570.00
...                                                                 ...
2023 Spain                                                   1705646.64
     Sweden                                                   644367.39
     Switzerland                                              404387.87
     Ukraine                                                  386828.17
     United Kingdom of Great Britain and Northern Ir...      3690455.11

Item
Element                                                 Import value
Year Area
2000 Albania                                                 6589.00
     Austria                                               307966.59
     Belarus                                                21258.00
     Belgium                                               700342.41
     Bosnia and Herzegovina                                  8710.00
...                                                              ...
2023 Spain                                                2678082.38
     Sweden                                               1287271.24
     Switzerland                                          1193296.08
     Ukraine                                               517453.37
     United Kingdom of Great Britain and Northern Ir...   6697982.74

[954 rows x 94 columns]

In [92]:
# Reset index to make Year and Area regular columns
df_pivot_trade_reset = df_pivot_trade.reset_index()

# Get unique countries
unique_countries = df_pivot_trade_reset['Area'].unique()
unique_countries

array(['Albania', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands (Kingdom of the)', 'North Macedonia', 'Norway',
       'Poland', 'Portugal', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Serbia and Montenegro', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
       'United Kingdom of Great Britain and Northern Ireland',
       'Montenegro', 'Serbia'], dtype=object)

In [93]:
df_pivot_trade_reset.head()

Item     Year                    Area Alcoholic Beverages               \
Element                                   Export quantity Export value
0        2000                 Albania               26.00        35.00
1        2000                 Austria            90143.94     77874.50
2        2000                 Belarus            57176.81     29353.16
3        2000                 Belgium           525388.75    598481.10
4        2000  Bosnia and Herzegovina              806.00       662.00

Item                                 Animal Fats and Oils (excl. Butter)  \
Element Import quantity Import value                     Export quantity
0              33354.00     12533.00                                 0.0
1             128485.54    207982.98                             40900.0
2              29365.93     41766.63                                 0.0
3             516822.85   1001198.63                            125288.0
4              44800.00     20000.00                                 0.0

Item                                               ... Sugar and Honey  \
Element Export value Import quantity Import value  ... Import quantity
0               0.00          2026.0       726.00  ...         59993.0
1            7053.97         17564.0     10439.57  ...        346655.0
2               0.00          7525.0      5085.00  ...        515674.0
3           64688.79        198198.0     70438.04  ...       1278410.0
4               0.00          1510.0      1210.00  ...         76705.0

Item                 Vegetable Oil and Fat                               \
Element Import value       Export quantity Export value Import quantity
0           15406.00                  39.0        45.00         35803.0
1          144864.15               60547.0     31219.85        106204.0
2          128514.00               11041.0      8799.60         91570.0
3          486407.90             1094152.0    582868.96        996817.0
4           22475.00                8000.0      8500.00         61229.0

Item                      Vegetables
Element Import value Export quantity Export value Import quantity Import value
0           20150.00           789.0       514.00         21762.0      6589.00
1           68150.16        138774.0     82134.06        327111.2    307966.59
2           70298.00         39305.0     23043.19         34685.0     21258.00
3          491119.35       1843019.0   1264588.71       1330753.0    700342.41
4           54193.00          1623.0      4050.00         20570.0      8710.00

[5 rows x 96 columns]

### 2.2 Loading and cleaning life expectancy dataset

In [94]:
#Load all files into a separate df
df_life = pd.read_csv('./raw/Life Expectancy/demo_mlexp.csv', encoding='cp1252', sep=';', na_values=[''])
df_life.head()

,TIME,2000,Unnamed: 2,2001,Unnamed: 4,2002,Unnamed: 6,2003,Unnamed: 8,2004,...,2019,Unnamed: 40,2020,Unnamed: 42,2021,Unnamed: 44,2022,Unnamed: 46,2023,Unnamed: 48
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,77.9,NaN,78.1,NaN,78.2,NaN,78.3,NaN,79.0,...,82.1,NaN,80.8,NaN,81.9,NaN,81.8,NaN,82.5,ip
2,Bulgaria,71.6,NaN,71.9,NaN,72.1,NaN,72.3,NaN,72.5,...,75.1,NaN,73.3,NaN,71.2,NaN,74.2,b,75.8,ip
3,Czechia,75.1,NaN,75.3,NaN,75.4,NaN,75.3,NaN,75.9,...,79.3,NaN,78.3,NaN,77.2,b,79.0,NaN,80.0,ip
4,Denmark,76.9,NaN,77.0,NaN,77.1,NaN,77.4,NaN,77.8,...,81.5,NaN,81.6,NaN,81.5,NaN,81.3,NaN,81.9,ip

Now let's clean up the data. As a first step elt's remove the unnecessary empty columns and any countries that are not in Europe.

In [95]:
# Drop unnamed columns and the first row (GEO Labels)
df_life = df_life.loc[:, ~df_life.columns.str.contains('Unnamed')]
df_life = df_life.iloc[1:]  # Remove first row

# Filter for specified countries 
countries = ['Albania', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 
           'Bulgaria', 'Croatia', 'Czechia', 'Denmark', 'Estonia', 'Faroe Islands',
           'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
           'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 
           'Netherlands (Kingdom of the)', 'North Macedonia', 'Norway', 'Poland',
           'Portugal', 'Republic of Moldova', 'Romania', 'Russian Federation',
           'Serbia and Montenegro', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
           'Switzerland', 'Ukraine', 
           'United Kingdom of Great Britain and Northern Ireland',
           'Montenegro', 'Serbia']

df_life = df_life[df_life['TIME'].isin(countries)]
df_life.head()

,TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Belgium,77.9,78.1,78.2,78.3,79.0,79.1,79.5,79.9,79.8,...,81.4,81.1,81.5,81.6,81.7,82.1,80.8,81.9,81.8,82.5
2,Bulgaria,71.6,71.9,72.1,72.3,72.5,72.5,72.7,73.0,73.3,...,74.5,74.7,74.9,74.8,75.0,75.1,73.3,71.2,74.2,75.8
3,Czechia,75.1,75.3,75.4,75.3,75.9,76.1,76.7,77.0,77.3,...,78.9,78.7,79.1,79.1,79.1,79.3,78.3,77.2,79.0,80.0
4,Denmark,76.9,77.0,77.1,77.4,77.8,78.3,78.4,78.4,78.8,...,80.7,80.8,80.9,81.1,81.0,81.5,81.6,81.5,81.3,81.9
5,Germany,78.3,78.6,78.6,78.6,79.3,79.4,79.9,80.1,80.2,...,81.2,80.7,81.0,81.1,81.0,81.3,81.1,80.8,80.7,81.2

Now we clean up the missing values. Since in most of the countries not that many values are missing, we can impute the data. For this we calculate the average change of life expectany in the given country over the observation period and use this to inpute the missing values.

In [96]:
import numpy as np


year_cols = [str(year) for year in range(2000, 2024)]
df_life[year_cols] = df_life[year_cols].replace('...', np.nan)
df_life[year_cols] = df_life[year_cols].apply(pd.to_numeric, errors='coerce')

def impute_country_data(row):
    values = row[year_cols].copy()
    
    # Calculate average annual change
    deltas = []
    for i in range(1, len(values)):
        prev = values[i-1]
        curr = values[i]
        if not np.isnan(prev) and not np.isnan(curr):
            deltas.append(curr - prev)
    
    if not deltas:  # No available deltas
        return row
    
    avg_delta = np.mean(deltas)
    
    # Forward fill
    for i in range(1, len(values)):
        if np.isnan(values[i]) and not np.isnan(values[i-1]):
            values[i] = values[i-1] + avg_delta
    
    # Backward fill
    for i in range(len(values)-2, -1, -1):
        if np.isnan(values[i]) and not np.isnan(values[i+1]):
            values[i] = values[i+1] - avg_delta
    
    row[year_cols] = values
    return row

# Apply imputation to each country
df_imputed = df_life.apply(impute_country_data, axis=1)
df_imputed[year_cols] = df_imputed[year_cols].round(1)
df_imputed.head()

C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  values[i] = values[i-1] + avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:27: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  values[i] = values[i-1] + avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:32: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  curr = values[i]
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i-1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if np.isnan(values[i]) and not np.isnan(values[i+1]):
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:32: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  values[i] = values[i+1] - avg_delta
C:\Users\Marci\AppData\Local\Temp\ipykernel_4908\2978272261.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prev = values[i-1]

,TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Belgium,77.9,78.1,78.2,78.3,79.0,79.1,79.5,79.9,79.8,...,81.4,81.1,81.5,81.6,81.7,82.1,80.8,81.9,81.8,82.5
2,Bulgaria,71.6,71.9,72.1,72.3,72.5,72.5,72.7,73.0,73.3,...,74.5,74.7,74.9,74.8,75.0,75.1,73.3,71.2,74.2,75.8
3,Czechia,75.1,75.3,75.4,75.3,75.9,76.1,76.7,77.0,77.3,...,78.9,78.7,79.1,79.1,79.1,79.3,78.3,77.2,79.0,80.0
4,Denmark,76.9,77.0,77.1,77.4,77.8,78.3,78.4,78.4,78.8,...,80.7,80.8,80.9,81.1,81.0,81.5,81.6,81.5,81.3,81.9
5,Germany,78.3,78.6,78.6,78.6,79.3,79.4,79.9,80.1,80.2,...,81.2,80.7,81.0,81.1,81.0,81.3,81.1,80.8,80.7,81.2

Now let's create another df with the same data but in a format that's more compatible with the gdp and trade data

In [97]:
# Melt the dataframe to create year-country-value rows
df_long = df_imputed.melt(
    id_vars=['TIME'], 
    value_vars=year_cols,
    var_name='Year',
    value_name='Life Expectancy'
)

# Clean up and sort
df_long = df_long.rename(columns={'TIME': 'Area'})
df_long['Year'] = df_long['Year'].astype(int)
df_long = df_long.sort_values(['Area', 'Year']).reset_index(drop=True)

# Round to 1 decimal (if not already done)
df_long['Life Expectancy'] = df_long['Life Expectancy'].round(1)

# Show the result
df_long_life = df_long
df_long_life.head()

      Area  Year  Life Expectancy
0  Albania  2000             76.2
1  Albania  2001             76.3
2  Albania  2002             76.4
3  Albania  2003             76.6
4  Albania  2004             76.7

### 2.3 Loading and cleaning gdp per capita dataset

In [98]:
df_gdp = pd.read_excel("raw/GDP/sdg_10_10_page_spreadsheet.xlsx",skiprows=9)

df_gdp = df_gdp.dropna(how='all', axis=0)  # Drop empty rows
df_gdp = df_gdp.dropna(how='all', axis=1)

df_gdp.rename(columns={df_gdp.columns[0]: 'Country'}, inplace=True)

df_gdp = df_gdp.iloc[6:, :]
df_gdp = df_gdp.iloc[:-7, :]

df_gdp = df_gdp.iloc[:, :-1]

output_file = "data/cleaned_gdp_data.csv"
df_gdp.to_csv(output_file, index=False)

df_gdp.head()

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
6,Belgium,23100,23800,24800,25400,26200,27200,28000.0,29100.0,29400.0,...,32400.0,33100.0,33600.0,34500.0,35600.0,36900.0,35800.0,38700,42700,44900
7,Bulgaria,5300,5800,6400,6900,7500,8300,9000.0,10000.0,10900.0,...,12900.0,13600.0,14400.0,15300.0,16300.0,17400.0,17500.0,19800,22500,24300
8,Czechia,13500,14600,15000,16100,17100,18100,19000.0,20700.0,21600.0,...,23500.0,24600.0,25400.0,27200.0,28500.0,30000.0,29200.0,30500,32200,34500
9,Denmark,23800,24400,25100,25400,27000,28000,29700.0,30900.0,32200.0,...,34300.0,35200.0,36000.0,38000.0,38800.0,39400.0,40100.0,44500,48500,47800
10,Germany,23000,24000,24500,25200,26300,26800,28000.0,29600.0,30300.0,...,34400.0,34900.0,35800.0,37200.0,38200.0,38500.0,37500.0,39900,42400,44200

In [99]:
# Melt the dataframe to convert columns (years) into rows
df_gdp_long = df_gdp.melt(
    id_vars='Country',     # Identifier column (kept as-is)
    var_name='Year',       # Name for the new "year" column (previously column headers)
    value_name='GDP_PC'       # Name for the GDP values
)

# Optional: Convert the 'Year' column to integer (if needed)
df_gdp_long['Year'] = df_gdp_long['Year'].astype(int)

# Optional: Sort the dataframe by Country and Year for clarity
df_gdp_long = df_gdp_long.sort_values(by=['Country', 'Year']).reset_index(drop=True)
df_gdp_long.head()

   Country  Year GDP_PC
0  Albania  2000   3200
1  Albania  2001   3600
2  Albania  2002   3800
3  Albania  2003   4100
4  Albania  2004   4400

### 2.4 Loading and cleaning food consumption dataset

In [100]:
# Load the Excel file and set the second row (index 1) as the header
file_path = "raw/Food Consumption/consumption_g_perday.xlsx"  # Update with your file's location
df = pd.read_excel(file_path, header=2)

# Display the first few rows to verify the data
df.head()

c:\Users\Marci\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Survey's country,Survey start year,Survey name,Population Group (L2),Exposure hierarchy (L1),Number of subjects,Number of consumers,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,Comment
0,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Alcoholic beverages,308,144,149.512987,280.610459,0.0,0.000000,0.000000,750.000000,888.322917,1117.673611,NaN
1,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Animal and vegetable fats and oils and primary...,308,263,12.737159,11.559832,0.0,0.000000,10.122966,31.110981,34.969817,38.276099,NaN
2,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,"Coffee, cocoa, tea and infusions",308,282,455.261364,472.676201,0.0,60.872340,360.000000,1174.819149,1536.093972,2244.515248,NaN
3,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Composite dishes,308,290,237.006981,162.496999,0.0,44.255862,215.062069,532.407276,590.102241,710.420966,NaN
4,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Eggs and egg products,308,45,5.064935,14.186542,0.0,0.000000,0.000000,32.355556,32.500000,59.740000,NaN

In [101]:
# Drop unwanted columns
columns_to_keep = ['Survey\'s country', 'Survey start year', 'Population Group (L2)', 
                   'Exposure hierarchy (L1)', 'Number of subjects', 'Number of consumers', 'Mean']

df_cleaned = df[columns_to_keep]
df_cleaned.head()

,Survey's country,Survey start year,Population Group (L2),Exposure hierarchy (L1),Number of subjects,Number of consumers,Mean
0,Austria,2010,Adults,Alcoholic beverages,308,144,149.512987
1,Austria,2010,Adults,Animal and vegetable fats and oils and primary...,308,263,12.737159
2,Austria,2010,Adults,"Coffee, cocoa, tea and infusions",308,282,455.261364
3,Austria,2010,Adults,Composite dishes,308,290,237.006981
4,Austria,2010,Adults,Eggs and egg products,308,45,5.064935

In [102]:
# Group by country, age group, and food category, then calculate the averages and sums
df_grouped = df_cleaned.groupby(
    ["Survey's country", "Population Group (L2)", "Exposure hierarchy (L1)"], as_index=False
).agg({
    "Mean": "mean",                # Average consumption
    "Number of consumers": "sum",  # Total consumers
    "Number of subjects": "sum"    # Total subjects
})

# Display the grouped DataFrame
df_grouped.head()

,Survey's country,Population Group (L2),Exposure hierarchy (L1),Mean,Number of consumers,Number of subjects
0,Austria,Adolescents,Alcoholic beverages,6.357224,139,811
1,Austria,Adolescents,Animal and vegetable fats and oils and primary...,16.355495,748,811
2,Austria,Adolescents,"Coffee, cocoa, tea and infusions",125.462767,483,811
3,Austria,Adolescents,Composite dishes,59.946303,451,811
4,Austria,Adolescents,Eggs and egg products,16.495834,534,811

In [103]:
# Calculate the percentage of consumers relative to subjects
df_grouped['% Consumers'] = (df_grouped['Number of consumers'] / df_grouped['Number of subjects']) * 100

# Drop the original 'Number of consumers' and 'Number of subjects' columns if no longer needed
df_grouped = df_grouped.drop(columns=['Number of consumers', 'Number of subjects'])

# Display the final DataFrame
df_grouped.head()

,Survey's country,Population Group (L2),Exposure hierarchy (L1),Mean,% Consumers
0,Austria,Adolescents,Alcoholic beverages,6.357224,17.139334
1,Austria,Adolescents,Animal and vegetable fats and oils and primary...,16.355495,92.231813
2,Austria,Adolescents,"Coffee, cocoa, tea and infusions",125.462767,59.556104
3,Austria,Adolescents,Composite dishes,59.946303,55.610358
4,Austria,Adolescents,Eggs and egg products,16.495834,65.844636

In [104]:
# Display all unique age groups in the 'Population Group (L2)' column
unique_age_groups = df_grouped["Population Group (L2)"].unique()
print(unique_age_groups)

['Adolescents' 'Adults' 'Elderly' 'Other children' 'Pregnant women'
 'Very elderly' 'Toddlers' 'Infants' 'Lactating women' 'Vegetarians']

In [105]:
# Define the specific age groups to keep
age_groups_to_keep = ["Adults", "Elderly", "Very elderly"]

# Filter the DataFrame to keep only the specified age groups
df_grouped = df_grouped[df_grouped["Population Group (L2)"].isin(age_groups_to_keep)]

# Display the updated DataFrame
df_grouped.head()

,Survey's country,Population Group (L2),Exposure hierarchy (L1),Mean,% Consumers
19,Austria,Adults,Alcoholic beverages,150.675344,51.635042
20,Austria,Adults,Animal and vegetable fats and oils and primary...,14.828626,93.903916
21,Austria,Adults,"Coffee, cocoa, tea and infusions",494.853665,92.854259
22,Austria,Adults,Composite dishes,137.545469,53.572870
23,Austria,Adults,Eggs and egg products,13.767620,58.740412

In [106]:
# Group by country and food category, and calculate the averages
df_final = df_grouped.groupby(
    ["Survey's country", "Exposure hierarchy (L1)"], as_index=False
).agg({
    "Mean": "mean",          # Average of Mean
    "% Consumers": "mean"    # Average of % Consumers across age groups
})

# Display the final DataFrame
df_final.head()

,Survey's country,Exposure hierarchy (L1),Mean,% Consumers
0,Austria,Alcoholic beverages,166.516408,57.092278
1,Austria,Animal and vegetable fats and oils and primary...,17.191352,91.818718
2,Austria,"Coffee, cocoa, tea and infusions",506.164903,97.618086
3,Austria,Composite dishes,204.744410,81.539216
4,Austria,Eggs and egg products,8.795674,31.560237

In [107]:
# Pivot the DataFrame
df_pivot = df_final.pivot(
    index="Survey's country",  # Rows: each country
    columns="Exposure hierarchy (L1)",  # Columns: each food type
    values="Mean"  # Values: the mean consumption
)

# Reset the index to turn the country column back into a normal column
df_pivot = df_pivot.reset_index()

# Display the pivoted DataFrame
df_pivot.head()

Exposure hierarchy (L1),Survey's country,Alcoholic beverages,"Amphibians, reptiles, and terrestrial invertebrates",Animal and vegetable fats and oils and primary derivatives thereof,"Coffee, cocoa, tea and infusions",Composite dishes,Eggs and egg products,Fish and seafood,Food products for young population,Fruit and fruit products,...,"Major isolated ingredients, additives, flavours, baking and processing aids",Meat and meat products,Milk and dairy products,Other ingredients,"Products for non-standard diets, food imitates and food supplements","Seasoning, sauces and condiments","Starchy roots or tubers and products thereof, sugar plants","Sugar and similar, confectionery and water-based sweet desserts",Vegetables and vegetable products,Water and water-based beverages
0,Austria,166.516408,NaN,17.191352,506.164903,204.744410,8.795674,20.834679,NaN,151.713658,...,0.185394,88.061634,159.150887,NaN,4.772915,24.045274,25.532152,12.393363,106.405959,1147.504358
1,Belgium,176.182765,0.138166,38.234566,485.317295,139.873394,9.326120,25.907912,0.181111,149.255072,...,0.082624,119.521214,166.454963,NaN,6.447024,25.630590,106.421072,19.649948,134.006988,728.649289
2,Bosnia and Herzegovina,53.757918,NaN,18.483524,223.446471,4.099412,43.402229,14.369406,0.967059,130.164118,...,0.095088,151.848653,160.424712,NaN,0.712165,10.472947,68.152053,10.943894,148.532729,1157.601324
3,Croatia,104.608156,0.200416,20.455774,253.494776,2.102810,18.856405,21.400130,1.421579,169.739195,...,0.342856,138.512775,178.013741,0.01473,5.428320,11.213325,64.364645,9.852132,156.121909,974.833203
4,Cyprus,78.273638,0.009615,28.095809,164.615630,11.263452,14.164456,30.885233,0.459559,133.808601,...,0.935655,135.260535,198.019598,NaN,4.266961,5.162193,91.126593,9.250543,234.628936,1271.179959

In [108]:
# Identify missing values in the pivoted DataFrame
missing_values = df_pivot.isnull().sum()

# Filter to show only columns with missing values
columns_with_missing = missing_values[missing_values > 0]

# Display the columns with missing values and their counts
print(columns_with_missing)

Exposure hierarchy (L1)
Amphibians, reptiles, and terrestrial invertebrates    13
Food products for young population                      6
Other ingredients                                      23
dtype: int64

In [109]:
# Identify missing values in the pivoted DataFrame
missing_values = df_pivot.isnull().sum()

# Filter to show only columns with missing values
columns_with_missing = missing_values[missing_values > 0]

# Show all data for the columns with missing values
columns_with_missing_data = df_pivot[columns_with_missing.index]
columns_with_missing_data.head()

Exposure hierarchy (L1),"Amphibians, reptiles, and terrestrial invertebrates",Food products for young population,Other ingredients
0,NaN,NaN,NaN
1,0.138166,0.181111,NaN
2,NaN,0.967059,NaN
3,0.200416,1.421579,0.01473
4,0.009615,0.459559,NaN

In [110]:
# Set missing values for 'Amphibians, reptiles, and terrestrial invertebrates' and 'Food products for young population' to 0
df_pivot['Amphibians, reptiles, and terrestrial invertebrates'] = (
    df_pivot['Amphibians, reptiles, and terrestrial invertebrates'].fillna(0)
)
df_pivot['Food products for young population'] = df_pivot['Food products for young population'].fillna(0)

# Drop the 'Other ingredients' column
df_pivot = df_pivot.drop(columns=['Other ingredients'])

# Display the updated DataFrame
df_pivot.head()

Exposure hierarchy (L1),Survey's country,Alcoholic beverages,"Amphibians, reptiles, and terrestrial invertebrates",Animal and vegetable fats and oils and primary derivatives thereof,"Coffee, cocoa, tea and infusions",Composite dishes,Eggs and egg products,Fish and seafood,Food products for young population,Fruit and fruit products,...,"Legumes, nuts, oilseeds and spices","Major isolated ingredients, additives, flavours, baking and processing aids",Meat and meat products,Milk and dairy products,"Products for non-standard diets, food imitates and food supplements","Seasoning, sauces and condiments","Starchy roots or tubers and products thereof, sugar plants","Sugar and similar, confectionery and water-based sweet desserts",Vegetables and vegetable products,Water and water-based beverages
0,Austria,166.516408,0.000000,17.191352,506.164903,204.744410,8.795674,20.834679,0.000000,151.713658,...,8.533545,0.185394,88.061634,159.150887,4.772915,24.045274,25.532152,12.393363,106.405959,1147.504358
1,Belgium,176.182765,0.138166,38.234566,485.317295,139.873394,9.326120,25.907912,0.181111,149.255072,...,7.046268,0.082624,119.521214,166.454963,6.447024,25.630590,106.421072,19.649948,134.006988,728.649289
2,Bosnia and Herzegovina,53.757918,0.000000,18.483524,223.446471,4.099412,43.402229,14.369406,0.967059,130.164118,...,13.370076,0.095088,151.848653,160.424712,0.712165,10.472947,68.152053,10.943894,148.532729,1157.601324
3,Croatia,104.608156,0.200416,20.455774,253.494776,2.102810,18.856405,21.400130,1.421579,169.739195,...,15.318629,0.342856,138.512775,178.013741,5.428320,11.213325,64.364645,9.852132,156.121909,974.833203
4,Cyprus,78.273638,0.009615,28.095809,164.615630,11.263452,14.164456,30.885233,0.459559,133.808601,...,23.069827,0.935655,135.260535,198.019598,4.266961,5.162193,91.126593,9.250543,234.628936,1271.179959

In [111]:
# Check for missing values in the updated DataFrame
missing_values_after_cleanup = df_pivot.isnull().sum()

# Filter to show only columns with missing values
columns_with_missing_after_cleanup = missing_values_after_cleanup[missing_values_after_cleanup > 0]

# Display columns with missing values and their counts
print(columns_with_missing_after_cleanup)

Series([], dtype: int64)

In [112]:
import os


output_folder = "data"

# Define the output file path
output_file = os.path.join(output_folder, "processed_data.csv")

# Save the DataFrame as a CSV file
df_pivot.to_csv(output_file, index=False)

### 2.5 Loading and cleaning diabetes dataset

In [113]:
file_path = "raw/Diabetes/diabetes_raw.csv"  # Replace with your file's location
df_diabetes = pd.read_csv(file_path)

# Keep only the columns for 'Country/Territory', '2011', and '2021'
df_cleaned = df_diabetes[['Country/Territory', '2011', '2021']]

# Save the cleaned data to a new CSV file
output_file = "data/diabetes_cleaned.csv"  # Replace with your desired output location
df_cleaned.to_csv(output_file, index=False)
df_cleaned.head()

        Country/Territory 2011  2021
0                  Turkey  7.9  14.5
1                   Spain  6.3  10.3
2                 Albania  2.8  10.2
3                 Andorra  5.4   9.7
4  Bosnia and Herzegovina  7.5   9.1

### 2.6 Loading and cleaning obesity dataset

In [114]:
file_path = "raw/Obesity/obesity_raw.xlsx"  # Replace with your actual file path
df_obesity = pd.read_excel(file_path)

# Inspect the first few rows and column names
df_obesity.head()

  BMI (Labels)  Overweight  Obese
0        Malta        62.0   25.8
1      Finland        59.5   21.9
2       Latvia        59.2   22.8
3      Romania        58.9   10.1
4    Lithuania        58.5   20.3

## 2.7 Create merged datasets for later use

Merge gdp, trade and life expectancy

In [115]:
df_long_life.head()

      Area  Year  Life Expectancy
0  Albania  2000             76.2
1  Albania  2001             76.3
2  Albania  2002             76.4
3  Albania  2003             76.6
4  Albania  2004             76.7

In [116]:
def merge_dataframes(df_pivot_trade, df_gdp_long, df_long_life):
    # First merge GDP and life expectancy (both single-level indexed)
    base_df = pd.merge(
        df_gdp_long,
        df_long_life,
        left_on=['Country', 'Year'],
        right_on=['Area', 'Year'],
        how='outer'
    )
    
    # Clean up country naming
    base_df['Country'] = base_df['Country'].fillna(base_df['Area'])
    base_df = base_df.drop('Area', axis=1)
    
    # Create a multi-index for the base_df to match trade data
    base_df.columns = pd.MultiIndex.from_tuples([('', col) for col in base_df.columns])
    
    # Now merge with trade data
    final_df = pd.merge(
        base_df,
        df_pivot_trade,
        left_on=[('', 'Country'), ('', 'Year')],
        right_on=['Area', 'Year'],
        how='outer'
    )
    
    return final_df

final_merged_df = merge_dataframes(df_pivot_trade, df_gdp_long, df_long_life)
final_merged_df.head()

                                        Alcoholic Beverages               \
   Country  Year GDP_PC Life Expectancy     Export quantity Export value
0  Albania  2000   3200            76.2                26.0         35.0
1  Albania  2001   3600            76.3                35.0         52.0
2  Albania  2002   3800            76.4                70.0         64.0
3  Albania  2003   4100            76.6               130.0        167.0
4  Albania  2004   4400            76.7               320.0        265.0

                               Animal Fats and Oils (excl. Butter)  \
  Import quantity Import value                     Export quantity
0         33354.0      12533.0                                 0.0
1         37187.0      15916.0                                 0.0
2         29474.0      15730.0                                 0.0
3         28265.0      18193.0                                 0.0
4         24729.0      18678.0                                 0.0

                ... Sugar and Honey              Vegetable Oil and Fat  \
  Export value  ... Import quantity Import value       Export quantity
0          0.0  ...         59993.0      15406.0                  39.0
1          0.0  ...         57437.0      15304.0                   5.0
2          0.0  ...         67945.0      18361.0                  14.0
3          0.0  ...         66291.0      18335.0                 200.0
4          0.0  ...         83846.0      18776.0                 281.0

                                                 Vegetables               \
  Export value Import quantity Import value Export quantity Export value
0         45.0         35803.0      20150.0           789.0        514.0
1          4.0         36855.0      18847.0           585.0        596.0
2         11.0         34706.0      21262.0           972.0        724.0
3        326.0         40214.0      28600.0          1116.0        502.0
4        339.0         40055.0      32319.0          2003.0       1699.0


  Import quantity Import value
0         21762.0       6589.0
1         21847.0       8500.0
2         33755.0      11428.0
3         33928.0      13102.0
4         23576.0      15339.0

[5 rows x 98 columns]

## 3. Exploratory analysis

idk add code and texts

## 4. Training models to answer some questions + Eval

When we first looked through the available datasets, we wanted to pick topics that would be both meaningful to analyze and feasible with machine learning. The diabetes risk analysis caught our attention since it connects food consumption patterns to public health outcomes - something that affects millions of people worldwide. For our second topic, we chose to build a regression model for GDP per capita prediction, as it seemed to be an interesting challenge to find some correlation between the food consumption/food related health issues and the economic strength of the countries. Though we hadn't done deep analysis yet, both datasets seemed to have good quality data and enough variables to work with. We basically tried to find a sweet spot between picking important real-world problems and making sure we had enough solid data to actually build useful models.

The first topic is related to the fifth question about the risk of diabetes in relation to food
consumption.

### 4.1 Load the data forthe food related ML shit

In [117]:
import pandas as pd

life_food = pd.read_csv('./data/final/life_food.csv')
life_food

FileNotFoundError: [Errno 2] No such file or directory: './data/final/life_food.csv'

In [7]:
# 2. Group by (TIME_PERIOD, geo) to find the set of sexes for each (year, country)
df_sex_sets = (
    life_food
    .groupby(['TIME_PERIOD', 'geo'])['sex']
    .apply(set)              # e.g. {'Males'}, {'Females'}, or {'Males', 'Females'}
    .reset_index(name='sex_set')
)

# 3. Define a helper function to label the sex category based on the set
def label_sex_category(sex_set):
    if sex_set == {'Males'}:
        return 'Male'
    elif sex_set == {'Females'}:
        return 'Female'
    elif sex_set == {'Males', 'Females'}:
        return 'Combined'
    else:
        # Optional: handle unexpected cases, e.g. empty set or something else
        return 'Other'

df_sex_sets['sex_category'] = df_sex_sets['sex_set'].apply(label_sex_category)

# 4. For each year, gather the countries in each category into lists
result = (
    df_sex_sets
    .groupby('TIME_PERIOD')
    .apply(lambda g: pd.Series({
        'Male': list(g.loc[g['sex_category'] == 'Male', 'geo'].unique()),
        'Female': list(g.loc[g['sex_category'] == 'Female', 'geo'].unique()),
        'Combined': list(g.loc[g['sex_category'] == 'Combined', 'geo'].unique())
    }))
    .reset_index()
)

# 5. (Optional) Rename the TIME_PERIOD column to "Year" for clarity
result.rename(columns={'TIME_PERIOD': 'Year'}, inplace=True)

# Show the final DataFrame
result

C:\Users\Marci\AppData\Local\Temp\ipykernel_13128\500446393.py:27: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: pd.Series({

    Year Male     Female                                           Combined
0   1997   []         []                                  [Ireland, Sweden]
1   1998   []         []                                            [Spain]
2   1999   []         []                                            [Spain]
3   2000   []         []                 [Denmark, Finland, United Kingdom]
4   2001   []         []                                 [Finland, Germany]
5   2002   []         []                                          [Belgium]
6   2003   []         []  [Cyprus, Czechia, Finland, Hungary, Netherland...
7   2004   []         []                           [Belgium, Greece, Spain]
8   2005   []   [Greece]                                   [Denmark, Italy]
9   2006   []         []                    [Denmark, Germany, Netherlands]
10  2007   []         []  [Bulgaria, Finland, France, Germany, Netherlands]
11  2008   []         []                  [Ireland, Latvia, United Kingdom]
12  2009   []         []                                            [Spain]
13  2010   []         []                     [Austria, Netherlands, Sweden]
14  2011   []   [Latvia]                          [Croatia, United Kingdom]
15  2012   []         []     [Finland, Latvia, Netherlands, Romania, Spain]
16  2013   []         []                                   [Estonia, Spain]
17  2014   []         []         [Austria, Belgium, Cyprus, France, Greece]
18  2015   []         []                                         [Portugal]
19  2016   []  [Austria]                                           [Sweden]
20  2017   []         []     [Finland, Italy, Montenegro, Serbia, Slovenia]
21  2018   []         []                          [Austria, Hungary, Italy]
22  2019   []         []     [Croatia, Montenegro, Poland, Romania, Serbia]
23  2021   []         []                                          [Croatia]

In [8]:
# 2. For each (country, year), determine the set of sexes
df_sex_sets = (
    life_food
    .groupby(['geo', 'TIME_PERIOD'])['sex']
    .apply(set)  # e.g. {'Males'}, {'Females'}, or {'Males','Females'}
    .reset_index(name='sex_set')
)

# 3. Filter to keep only the rows where both Males and Females are present
df_combined_only = df_sex_sets[df_sex_sets['sex_set'] == {'Males', 'Females'}]

# 4. Group by 'geo' and collect all years that meet the condition
df_result = (
    df_combined_only
    .groupby('geo')['TIME_PERIOD']
    .apply(list)
    .reset_index(name='years_with_combined_data')
)

# Show the final DataFrame
print(df_result)

               geo              years_with_combined_data
0          Austria                    [2010, 2014, 2018]
1          Belgium                    [2002, 2004, 2014]
2         Bulgaria                                [2007]
3          Croatia                    [2011, 2019, 2021]
4           Cyprus                          [2003, 2014]
5          Czechia                                [2003]
6          Denmark                    [2000, 2005, 2006]
7          Estonia                                [2013]
8          Finland  [2000, 2001, 2003, 2007, 2012, 2017]
9           France                          [2007, 2014]
10         Germany                    [2001, 2006, 2007]
11          Greece                          [2004, 2014]
12         Hungary                          [2003, 2018]
13         Ireland                          [1997, 2008]
14           Italy                    [2005, 2017, 2018]
15          Latvia                          [2008, 2012]
16      Montenegro                          [2017, 2019]
17     Netherlands        [2003, 2006, 2007, 2010, 2012]
18          Poland                                [2019]
19        Portugal                                [2015]
20         Romania                          [2012, 2019]
21          Serbia                          [2017, 2019]
22        Slovenia                                [2017]
23           Spain  [1998, 1999, 2004, 2009, 2012, 2013]
24          Sweden              [1997, 2003, 2010, 2016]
25  United Kingdom                    [2000, 2008, 2011]

Based on these tables the we can see that the data is not consistent, it is in really bad condition. On the other hand we can select a few countries and years that have more data than otheres, and can try to come up with some new questions that we might be able to answer.
The most interesting countries are:
- Finland
- Netherlands
- Spain
- Sweden

The years with most data are:
- 2003
- 2007
- 2012
- 2017
- 2019

In [5]:
diabetes_food = pd.read_csv('./data/final/diabetes_food.csv')
diabetes_food

,sex,geo,TIME_PERIOD,deaths_out_of_100k,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile
0,Females,Austria,2014,32.88,Alcoholic beverages,1.230000,2.480000,0.000000,0.000000,0.000000,5.630000,8.210000,11.450000
1,Females,Austria,2014,32.88,Animal and vegetable fats and oils and primary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Females,Austria,2014,32.88,"Coffee, cocoa, tea and infusions",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Females,Austria,2014,32.88,Composite dishes,0.530000,1.020000,0.000000,0.000000,0.000000,2.560000,3.570000,4.710000
4,Females,Austria,2014,32.88,Eggs and egg products,0.310000,0.440000,0.000000,0.000000,0.110000,1.140000,1.470000,1.910000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,Males,United Kingdom,2011,12.56,"Seasoning, sauces and condiments",0.528884,0.956948,0.000000,0.000000,0.137267,2.337289,3.032118,4.047449
1158,Males,United Kingdom,2011,12.56,"Starchy roots or tubers and products thereof, ...",2.644138,2.912759,0.000000,0.000000,1.813793,8.179655,9.726207,12.794483
1159,Males,United Kingdom,2011,12.56,"Sugar and similar, confectionery and water-bas...",0.391207,0.850000,0.000000,0.000000,0.074976,1.827308,2.761191,3.705171
1160,Males,United Kingdom,2011,12.56,Vegetables and vegetable products,3.796339,3.931466,0.000000,0.106760,2.805803,11.865891,13.949526,17.654372
1161,Males,United Kingdom,2011,12.56,Water and water-based beverages,18.527487,17.263262,1.223422,2.964385,14.389251,47.394973,61.513957,87.076096

In [6]:
obesity_food = pd.read_csv('./data/final/obesity_food.csv')
obesity_food

,sex,geo,TIME_PERIOD,obesity_percentage,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile
0,Females,Finland,2017,35.1,Alcoholic beverages,0.773147,2.189442,0.000000,0.000000,0.000000,4.609543,7.046193,10.210305
1,Females,Finland,2017,35.1,"Amphibians, reptiles, and terrestrial inverteb...",0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Females,Finland,2017,35.1,Animal and vegetable fats and oils and primary...,0.357128,0.251384,0.045744,0.085744,0.317128,0.821279,0.992663,1.144047
3,Females,Finland,2017,35.1,"Coffee, cocoa, tea and infusions",7.812036,4.923349,1.339692,2.814485,6.994982,16.543941,20.342935,24.609917
4,Females,Finland,2017,35.1,Composite dishes,0.099432,0.337102,0.000000,0.000000,0.000000,0.620114,0.976648,1.286648
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4015,Males,Slovenia,2017,1.1,"Seasoning, sauces and condiments",0.310197,0.653862,0.008742,0.021171,0.089661,1.451619,2.319562,3.419628
4016,Males,Slovenia,2017,1.1,"Starchy roots or tubers and products thereof, ...",1.626212,1.764161,0.000000,0.000000,1.255065,4.937116,6.032410,6.560990
4017,Males,Slovenia,2017,1.1,"Sugar and similar, confectionery and water-bas...",0.241502,0.446955,0.000000,0.000000,0.053992,1.032160,1.617016,2.113519
4018,Males,Slovenia,2017,1.1,Vegetables and vegetable products,2.771213,2.208702,0.360819,0.542340,2.255436,7.236340,8.304032,9.361936
4019,Males,Slovenia,2017,1.1,Water and water-based beverages,15.362355,11.728699,1.591645,2.831699,12.646484,37.518204,44.476247,53.652731

## 4.2 Load data for the GDP related ML shit

In [14]:
quantity_food = pd.read_csv('./data/final/quantity_food.csv')
quantity_food

,geo,TIME_PERIOD,sex,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,Imported quantity,Exported quantity
0,Austria,2010,Females,Alcoholic beverages,1.947294,3.575471,0.000000,0.000000,0.280000,9.163000,10.997647,13.919059,174183.00,152650.00
1,Austria,2010,Females,Animal and vegetable fats and oils and primary...,0.409974,0.340208,0.032057,0.055547,0.333906,0.984349,1.160260,1.413906,525682.00,283082.00
2,Austria,2010,Females,"Coffee, cocoa, tea and infusions",5.094759,4.539578,0.322410,0.375572,3.945813,13.629217,15.740271,19.433343,94578.00,29286.00
3,Austria,2010,Females,Composite dishes,3.111088,2.397241,0.035172,0.496737,2.744218,7.685544,8.503422,9.751645,424667.00,478336.00
4,Austria,2010,Females,Eggs and egg products,0.322270,0.441656,0.000000,0.000000,0.158466,1.202699,1.291902,1.522515,30094.00,8838.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,Sweden,2016,Males,"Seasoning, sauces and condiments",0.810000,0.970000,0.000000,0.030000,0.470000,2.340000,3.780000,4.210000,42027.15,2409.15
1999,Sweden,2016,Males,"Starchy roots or tubers and products thereof, ...",2.060000,2.750000,0.000000,0.000000,1.390000,6.270000,9.040000,10.770000,323593.12,15602.43
2000,Sweden,2016,Males,"Sugar and similar, confectionery and water-bas...",0.522399,1.592543,0.000000,0.000000,0.000704,2.567787,3.822026,5.849770,232870.30,221299.15
2001,Sweden,2016,Males,Vegetables and vegetable products,2.470000,2.060000,0.410000,0.540000,1.770000,6.420000,7.790000,8.650000,529495.56,227915.41
2002,Sweden,2016,Males,Water and water-based beverages,14.460000,8.690000,1.680000,3.660000,14.500000,28.860000,34.820000,37.530000,292117.82,88937.07

In [16]:
gdp_food = pd.read_csv('./data/final/gdp_food.csv')
gdp_food

,geo,TIME_PERIOD,sex,Food Category,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,gdp_per_capita
0,Austria,2014,Females,Alcoholic beverages,1.230000,2.480000,0.00,0.00,0.000000,5.630000,8.210000,11.45000,129
1,Austria,2014,Females,Animal and vegetable fats and oils and primary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129
2,Austria,2014,Females,"Coffee, cocoa, tea and infusions",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129
3,Austria,2014,Females,Composite dishes,0.530000,1.020000,0.00,0.00,0.000000,2.560000,3.570000,4.71000,129
4,Austria,2014,Females,Eggs and egg products,0.310000,0.440000,0.00,0.00,0.110000,1.140000,1.470000,1.91000,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Sweden,2016,Males,"Seasoning, sauces and condiments",0.810000,0.970000,0.00,0.03,0.470000,2.340000,3.780000,4.21000,123
1180,Sweden,2016,Males,"Starchy roots or tubers and products thereof, ...",2.060000,2.750000,0.00,0.00,1.390000,6.270000,9.040000,10.77000,123
1181,Sweden,2016,Males,"Sugar and similar, confectionery and water-bas...",0.522399,1.592543,0.00,0.00,0.000704,2.567787,3.822026,5.84977,123
1182,Sweden,2016,Males,Vegetables and vegetable products,2.470000,2.060000,0.41,0.54,1.770000,6.420000,7.790000,8.65000,123
1183,Sweden,2016,Males,Water and water-based beverages,14.460000,8.690000,1.68,3.66,14.500000,28.860000,34.820000,37.53000,123

In [17]:
gdp_quantity = pd.read_csv('./data/final/gdp_quantity.csv')
gdp_quantity

,geo,TIME_PERIOD,gdp_per_capita,Imported quantity,Exported quantity,Food Category
0,Albania,2012,30,33539.00,1055.00,Alcoholic beverages
1,Albania,2012,30,0.00,0.00,"Amphibians, reptiles, and terrestrial inverteb..."
2,Albania,2012,30,44965.00,1595.00,Animal and vegetable fats and oils and primary...
3,Albania,2012,30,7159.00,33.00,"Coffee, cocoa, tea and infusions"
4,Albania,2012,30,32278.00,1823.00,Composite dishes
...,...,...,...,...,...,...
7263,Slovakia,2022,71,27320.17,2636.52,"Seasoning, sauces and condiments"
7264,Slovakia,2022,71,139305.03,133010.92,"Starchy roots or tubers and products thereof, ..."
7265,Slovakia,2022,71,182229.63,269151.79,"Sugar and similar, confectionery and water-bas..."
7266,Slovakia,2022,71,231619.67,50052.84,Vegetables and vegetable products
7267,Slovakia,2022,71,524546.56,319503.77,Water and water-based beverages

## 5. Answer the questions we have lsited, if they are already answered before, then we can just sum it up here

## 6. Conclusions, challenges, fuck knows